<include file="Public/header" title="index" name="index" />
<div class="welcome row section">
    <div class="wrap">
        <div class="info">
            <h2 class="en">QUEST GENOMICS</h2>
            <h2 class="cn">医疗权威认证、RUO升级IVD、临检应用</h2>
        </div>
    </div>
</div>
<!-- 项目介绍 -->
<div class="project row section">
    <div class="wrap">
        <ul class="tabs">
            <li class="active">
                <a href="#">
                    <h4>服务项目</h4>
                    <p>service</p>
                    <span class="fa fa-angle-right"></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <h4>特色项目</h4>
                    <p>special</p>
                    <span class="fa fa-angle-right"></span>
                </a>
            </li>
        </ul>
        <ul class="infoList active">
            <foreach name="normalService" item="service">
                <li>
                    <a href="#">
                        <span class="fa fa-car"></span>
                        <h6>{$service['title']}</h6>
                        <p>{$service['description']}</p>
                    </a>
                </li>
            </foreach>
        </ul>
        <ul class="infoList">
            <foreach name="specilaService" item="service">
                <li>
                    <span class="fa fa-car"></span>
                    <h6>{$service['title']}</h6>
                    <p>{$service['description']}</p>
                </li>
            </foreach>
        </ul>
    </div>
    <div class="pr">
        <span class="fa fa-angle-down"></span>
    </div>
</div>
<!-- 公告 -->
<div></div>
<!-- 资讯 -->
<div class="news row section">
    <div class="wrap">
        <ul class="tabs more">
            <li class="active">
                <a href="#">
                    <h4>最新资讯</h4>
                    <p>information</p>
                </a>
            </li>
            <li class="more_link">
                <a href="__MODULE__/news">more</a>
            </li>
        </ul>
    </div>
    <ol class="list-unstyled">
        <foreach name="informations" item="info" key="k">
            <!-- <li class="active"> -->
            <li <if condition="$k eq 0">class="active"</if> >
                <div class="wrap">
                    <div class="title">
                        <span class="num">{++$k}</span>
                        <h6>{$info['title']}</h6>
                    </div>
                    <div class="contact">
                        <p class="indent ellipsis_more_line">{$info['short_desc']}</p>
                        <img src="__PUBLIC__/Uploads/pics/news_img.jpg">
                    </div>
                </div>
            </li>
        </foreach>
    </ol>
</div>
<!-- 促销活动 -->
<div class="activity row section">
    <div class="wrap">
        <ul class="tabs more">
            <li class="active">
                <a href="#">
                    <h4>促销活动</h4>
                    <p>activity</p>
                </a>
            </li>
            <li class="more_link">
                <a href="__MODULE__/sale">more</a>
            </li>
        </ul>
        <ul class="list list-unstyled">
            <foreach name="activity" item="vo">
                <li>
                    <img src="__PUBLIC__/Uploads/pics/activity_img.jpg">
                    <h5>{$vo['title']}</h5>
                    <p><span>活动介绍：</span><span class="value">{$vo['short_desc']}</span></p>
                    <a href="#">更多详情</a>
                </li>
            </foreach>
        </ul>
    </div>
</div>
<include file="Public/footer" name="index" />
