<include file="public/header" title="index" name="index" />
<div class="welcome row section">
    <div class="wrap">
        <div class="info">
            <h2 class="en">QUEST GENOMICS</h2>
            <h2 class="cn">医疗权威认证、RUO升级IVD、临检应用</h2>
        </div>
        <div class="announgement">
            <h3>
                <span class="cn">企业公告</span>
                <span class="en">ANNOUNGEMENT</span>
            </h3>
            <div>
                <span class="cn">{$notice['notice']}</span>
                <span class="en">{$notice['english_notice']}</span>
            </div>
        </div>
    </div>
</div>
<!-- 项目介绍 -->
<div class="project row section">
    <div class="wrap">
        <ul class="tabs">
            <li class="active">
                <a href="#">
                    <h4>服务项目</h4>
                    <p>service</p>
                    <span class="fa fa-angle-right"></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <h4>特殊服务</h4>
                    <p>special</p>
                    <span class="fa fa-angle-right"></span>
                </a>
            </li>
        </ul>
        <ul class="infoList active">
            <foreach name="normalService" item="service">
                <li>
                    <span class="fa fa-car"></span>
                    <h6>{$service['title']}</h6>
                    <p>{$service['description']}</p>
                </li>
            </foreach>
        </ul>
        <ul class="infoList">
            <foreach name="specilaService" item="service">
                <li>
                    <span class="fa fa-car"></span>
                    <h6>{$service['title']}</h6>
                    <p>{$service['description']}</p>
                </li>
            </foreach>
        </ul>
    </div>
    <div class="pr">
        <span class="fa fa-angle-down"></span>
    </div>
</div>
<!-- 资讯 -->
<div class="news row section">
    <div class="wrap">
        <ul class="tabs">
            <li class="active">
                <a href="#">
                    <h4>最新资讯</h4>
                    <p>information</p>
                </a>
            </li>
        </ul>
    </div>
    <ol class="list-unstyled">
        <foreach name="informations" item="info" key="k">
            <!-- <li class="active"> -->
            <li>
                <div class="wrap">
                    <div class="title">
                        <span class="num">{++$k}</span>
                        <h6>{$info['title']}</h6>
                    </div>
                    <div class="contact">
                        <p> {$info['short_desc']}</p>
                        <img src="__PUBLIC__/Home/index/pic/news_img.jpg">
                    </div>
                </div>
            </li>
        </foreach>
    </ol>
</div>
<!-- 促销活动 -->
<div class="activity row section">
    <div class="wrap">
        <ul class="tabs">
            <li class="active">
                <a href="#">
                    <h4>促销活动</h4>
                    <p>activity</p>
                </a>
            </li>
        </ul>
        <ul class="list list-unstyled">
            <li>
                <img src="__PUBLIC__/Home/index/pic/activity_img.jpg">
                <h5>活动名称1</h5>
                <p><span>活动介绍：</span><span class="value">啊死了点卡连锁店坷拉三季稻拉萨孔家店啦开始觉得啦科技时代</span></p>
                <a href="#">更多详情</a>
            </li>
            <li>
                <img src="__PUBLIC__/Home/index/pic/activity_img.jpg">
                <h5>活动名称1</h5>
                <p><span>活动介绍：</span><span class="value">啊死了点卡连锁店坷拉三季稻拉萨孔家店啦开始觉得啦科技时代</span></p>
                <a href="#">更多详情</a>
            </li>
            <li>
                <img src="__PUBLIC__/Home/index/pic/activity_img.jpg">
                <h5>活动名称1</h5>
                <p><span>活动介绍：</span><span class="value">啊死了点卡连锁店坷拉三季稻拉萨孔家店啦开始觉得啦科技时代</span></p>
                <a href="#">更多详情</a>
            </li>
        </ul>
    </div>
</div>
<include file="Public/footer" />
