<include file="Public/header" title="辽宁佰昊生物科技有限公司（liaoningbaihaoshengwukejiyouxiangongsiguanwangshouye）" name="index" keywords="辽宁佰昊生物科技有限公司 生物公司 佰昊生物 分子 蛋白 细胞 生物信息 实验服务 生物实验外包" description="辽宁佰昊生物科技有限公司是东北最大的第三方生物医学研发及转化平台，与辽宁省科技厅共建了辽宁省免疫生物公共技术服务平台，同时与厦门大学药学院合作，建立了生物研发人才培训中心。" />
<div class="welcome row section">
    <div class="banner">
        <ul>
            <foreach name="carousel" item="vo">
                <li style="background-image: url('__ROOT__/{$vo[\'photo\']}');">
                    <div class="detail">
                        <a href="{$vo['link']}">查看详情</a>
                    </div>
                </li>
            </foreach>
            <li style="background-image: url('__ROOT__/{$carousel[0]['photo']}');">
                <div class="detail">
                    <a href="{$carousel[0]['link']}">查看详情</a>
                </div>
            </li>
        </ul>
        <div class="prev">
            <a href="#"><span class="fa fa-chevron-left"></span></a>
        </div>
        <div class="next">
            <a href="#"><span class="fa fa-chevron-right"></span></a>
        </div>
    </div>
    <div class="more">
        <a href=""></a>
    </div>
</div>
<!-- 项目介绍 -->
<div class="project row section">
    <div class="wrap">
        <ul class="tabs">
            <li class="active">
                <a href="#">
                    <h4>服务项目</h4>
                    <p>service</p>
                    <span class="fa fa-angle-right"></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <h4>特色项目</h4>
                    <p>special</p>
                    <span class="fa fa-angle-right"></span>
                </a>
            </li>
        </ul>
        <ul class="infoList active">
            <foreach name="normalService" key="key" item="service">
                <li>
                    <div class="cont">
                        <a href="{:U('Home/service/lists',array('serviceId'=>$service['id']))}">
                            <div class="sort_icon">
                                <div class="cl">
                                    <div class="bg" style="background-image: url('__PUBLIC__/Home/index/img/service_sort_{$key+1}.png');"></div>
                                </div>
                            </div>
                            <h6>{$service['title']}</h6>
                            <p>{$service['description']}</p>
                        </a>
                    </div>
                </li>
            </foreach>
        </ul>
        <ul class="infoList">
            <foreach name="specialService" key="key" item="service">
                <li>
                    <div class="cont">
                        <a href="{:U('Home/special/index',array('serviceId'=>$service['id']))}">
                            <div class="sort_icon">
                                <div class="cl">
                                    <div class="bg" style="background-image: url('__PUBLIC__/Home/index/img/special_sort_{$key+1}.png');"></div>
                                </div>
                            </div>
                            <h6>{$service['title']}</h6>
                            <p>{$service['description']}</p>
                        </a>
                    </div>
                </li>
            </foreach>
        </ul>
    </div>
    <div class="pr">
        <span class="fa fa-angle-down"></span>
    </div>
</div>
<!-- 公告 -->
<div class="notice row">
    <div class="bg">
        <div class="page_title">
            <header>
                <h3 class="cn">企业公告</h3>
                <h3 class="en">ANNOUNGEMENT</h3>
            </header>
        </div>
        <div class="wrap">
            <p>{$notice['english_content']}</p>
            <p>{$notice['content']}</p>
        </div>
    </div>
</div>
<!-- 资讯 -->
<div class="news row section">
    <div class="wrap">
        <ul class="tabs more">
            <li class="active">
                <a href="#">
                    <h4>最新资讯</h4>
                    <p>information</p>
                </a>
            </li>
            <li class="more_link">
                <a href="__MODULE__/news">more</a>
            </li>
        </ul>
    </div>
    <ol class="list-unstyled">
        <foreach name="informations" item="info" key="k">
            <!-- <li class="active"> -->
            <li <if condition="$k eq 0">class="active"</if> >
                <div class="wrap">
                    <div class="title">
                        <span class="num">{++$k}</span>
                        <h6 <if condition="$k eq 0">class="ellipsis_one_line"</if> >{$info['title']}</h6>
                    </div>
                    <div class="contact">
                        <p class="indent">
                            <span>{$info['short_desc']}</span>
                            <a href="{:U('Home/news/info',array('newsId'=>$info['id']))}">查看详情</a>
                        </p>
                        <div class="pic">
                            <img src="__ROOT__/{$info['photo']}">
                        </div>
                    </div>
                </div>
            </li>
        </foreach>
    </ol>
</div>
<!-- 促销活动 -->
<div class="activity row section">
    <div class="wrap">
        <ul class="tabs more">
            <li class="active">
                <a href="#">
                    <h4>促销活动</h4>
                    <p>activity</p>
                </a>
            </li>
            <li class="more_link">
                <a href="__MODULE__/sale">more</a>
            </li>
        </ul>
        <ul class="list list-unstyled">
            <foreach name="activity" item="vo">
                <li>
                    <div class="fo">
                        <div class="pic">
                            <img src="__ROOT__/{$vo['photo']}">
                        </div>
                    </div>
                    <h5>{$vo['title']}</h5>
                    <div class="activityInfo ellipsis_more_line">
                        <p><span>活动介绍：</span><span class="value">{$vo['short_desc']|delHtml}</span></p>
                    </div>
                    <a href="{:U('Home/sale/index')}">更多详情</a>
                </li>
            </foreach>
        </ul>
    </div>
</div>
<include file="Public/footer" name="index" />
