<include file="Public/header" name="search" title="搜索结果" />
<div class="main">
    <header class="row">
        <h3>
            <span class="fa fa-search"></span>
            <span class="title">搜索结果</span>
        </h3>
    </header>
    <div class="content row">
        <ul class="list-unstyled wrap">
            <li>
                <a href="#">
                    <img src="__PUBLIC__/Home/search/pic/result_pic.jpg" />
                    <h6>蛋白质服务项目</h6>
                    <p>T浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="__PUBLIC__/Home/search/pic/result_pic.jpg" />
                    <h6>蛋白质服务项目</h6>
                    <p>T浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="__PUBLIC__/Home/search/pic/result_pic.jpg" />
                    <h6>蛋白质服务项目</h6>
                    <p>T浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="__PUBLIC__/Home/search/pic/result_pic.jpg" />
                    <h6>蛋白质服务项目</h6>
                    <p>T浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="__PUBLIC__/Home/search/pic/result_pic.jpg" />
                    <h6>蛋白质服务项目</h6>
                    <p>T浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="__PUBLIC__/Home/search/pic/result_pic.jpg" />
                    <h6>蛋白质服务项目</h6>
                    <p>T浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="__PUBLIC__/Home/search/pic/result_pic.jpg" />
                    <h6>蛋白质服务项目</h6>
                    <p>T浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="__PUBLIC__/Home/search/pic/result_pic.jpg" />
                    <h6>蛋白质服务项目</h6>
                    <p>T浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<include file="Public/footer" name="search" />
