._detail {
    &._edit {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 100px;
        .form-group {
            margin: 0;
            padding:10px 0;
        }
        label {
            width: 90px;
            &:after {
                content: ':';
                display: inline;
            }
        }
        input {
            border: none;
            border-bottom: 1px solid #ccc;
            &:focus {
                border: none;
                border-bottom: 1px solid #ccc;
                outline: none;
            }
            &[type="file"] {
                display: none;
            }
        }
        select {
            width: 200px;
            display: inline-block;
        }
        textarea {
            height: 150px;
        }
        textarea, input, select {
            border-radius: 0;
        }
    }
    &._view {
        width: 80%;
        margin: 0 auto;
        section {
            padding-bottom: 20px;
            h4 {
                font-size: 14px;
                line-height: 30px;
                font-weight: bold;
            }
            .cont {
                padding-left: 40px;
            }
            .photo {
                height: 150px;
                img {
                    height: 100%;
                }
            }
        }
        .btn-group {
            display: block;
            text-align: center;
            .btn {
                float: none;
            }
        }
    }
}
