.index {
    .count {
        padding-top: 30px;
        ul {
            li {
                display: inline-block;
                width: 33%;
                padding: 20px;
                .cont {
                    padding: 20px;
                    border: 1px solid #aaa;
                    text-align: center;
                    color: white;
                    h5 {
                        line-height: 30px;
                        font-size: 16px;
                    }
                    p {
                        font-size: 40px;
                    }
                }
                &:nth-child(1) {
                    .cont {
                        background: #f85d2d;
                    }
                }
                &:nth-child(2) {
                    .cont {
                        background: #226f9c;
                    }
                }
                &:nth-child(3) {
                    .cont {
                        background: #fe7c62;
                    }
                }
            }
        }
    }
}
