html,
body,
.container-fluid,
.row,
.section {
    height: 100%;
}

// 必需字段样式
._required {
    &:after {
        content: '*';
        color: red;
        font-size: 16px;
    }
}

.pageLoading {
    overflow: hidden;
}

// 面包屑导航
.breadcrumb {
    background: none;
    ul {
        li {
            display: inline-block;
            a {}
            &:after {
                content: '>';
            }
            &:last-child:after {
                content: '';
            }
        }
    }
}

