._uploader {
	display: inline-block;
	.upload {
		.icon {
			.fa {
				font-size: 14px;
			}
			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}
		}
	}
	.view {
		.photo {
			width: 100%;
			text-align: left;
			img {
				width: 50%;
			}
		}
	}
}