.sales_list ul {
  overflow: hidden;
}
.sales_list ul li {
  float: left;
  width: 50%;
  padding-bottom: 3rem;
}
.sales_list ul li a {
  display: block;
  padding: 1rem;
  color: #2a2a2a;
}
.sales_list ul li a img {
  float: left;
  width: 50%;
}
.sales_list ul li a .info {
  float: left;
  padding-left: 1rem;
}
.sales_list ul li a h4 {
  line-height: 2;
}
