<include file="Public/header" title="关于" name="about" />
<div class="main">
    <div class="row">
        <div class="page_title">
            <header>
                <h3 class="cn">公司介绍</h3>
                <h3 class="en">Company introduction</h3>
            </header>
        </div>
        <div class="section wrap">
            <div class="photo">
                <!-- ！！！替换模板 -->
                <img src="__ROOT__/{$company['photo']}">
                <!-- <img src="__ROOT__/{$company['photo']}"> -->
                <p class="text-center">公司外景图</p>
            </div>
            <article class="indent">
                <p class="indent">{$company['information']}</p>
            </article>
        </div>
    </div>
    <div class="row">
        <div class="page_title">
            <header>
                <h3 class="cn">核心技术团队顾问</h3>
                <h3 class="en">Core technical team Consultant</h3>
            </header>
        </div>
        <div class="section wrap team">
            <ul class="list-unstyled">
                <foreach name="employees" item="employee">
                    <li>
                        <a href="{:U('Home/about/employee',array('id'=>$employee['id']))}">
                            <img src="__ROOT__/{$employee['photo']}">
                            <h3 class="name">{$employee['name']}</h3>
                            <p class="info ellipsis_one_line">{$employee['description']}</p>
                            <p class="more">查看简历</p>
                        </a>
                    </li>
                </foreach>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="page_title">
            <header>
                <h3 class="cn">生物研发人才培训中心</h3>
                <h3 class="en">Biological R & D personnel training center</h3>
            </header>
        </div>
        <div class="section wrap">
            <div class="section wrap">
                <div class="photo">
                    <img src="__PUBLIC__/Uploads/pics/Biological_01_img.jpg">
                    <p class="text-center">培训介绍</p>
                </div>
                <article class="indent">
                    <p>辽宁佰昊生物科技有限公司是东北最大的第三方生物医学研发及转化平台，与辽宁省科技厅共建了辽宁省免疫生物公共技术服务 平台，同时与厦门大学药学院合作，建立了生物研发人才培训中心。佰昊一家致力于将生物技术在健康产业应用和转化的高科技企业 公司拥有生物信息学、基因组学、蛋白质组学和细胞学四大技术团队，公司以数位国家 “千人计划” 归国教授团队为核心组建，与国 内各大科研机构、医院、政府检测部门、生物企业合作。并得到了厦门大学、美国加州大学圣地亚哥医学院、美国圣地亚哥 艾凯奇细 胞生物技术股份有限公司、广州华南生物芯片研究中心等国内一流科研机构的鼎力支持和加盟。</p>
                    <p> 公司成立于2015年，总部位于辽宁省中国药都创新产业园，一期占地面积3000多平方米。建设了1200多平米符合国际，国内标 准的基因组学实验室,蛋白组学实验室，标准万级无菌细胞实验室，实验室可同时容纳100人共同进行操作实验。招募了一批有活力的 生物高层次科研人才，硕士及以上学历人员占50％以上，本科及以上学历人员占95％。公司依托沈阳汇佰生物科技有限公司，精锐的 产品销售，共同搭建技术推广平台。
                    </p>
                </article>
            </div>
        </div>
    </div>
</div>
<include file="Public/footer" />
