<include file="Public/header" title="关于" name="about" />
<div class="main">
    <div class="row">
        <div class="page_title">
            <header>
                <h3 class="cn">公司介绍</h3>
                <h3 class="en">Company introduction</h3>
            </header>
        </div>
        <div class="section wrap">
            <div class="photo">
                <!-- ！！！替换模板 -->
                <img src="__ROOT__/{$company['photo']}">
                <!-- <img src="__ROOT__/{$company['photo']}"> -->
                <p class="text-center">公司外景图</p>
            </div>
            <article class="indent">
                <p class="indent">{$company['information']}</p>
            </article>
        </div>
    </div>
    <div class="row">
        <div class="page_title">
            <header>
                <h3 class="cn">核心技术团队顾问</h3>
                <h3 class="en">Core technical team Consultant</h3>
            </header>
        </div>
        <div class="section wrap team">
            <ul class="list-unstyled">
                <foreach name="employees" item="employee">
                    <li>
                        <a href="{:U('Home/about/employee',array('id'=>$employee['id']))}">
                            <img src="__ROOT__/{$employee['photo']}">
                            <h3 class="name">{$employee['name']}</h3>
                            <p class="info ellipsis_one_line">{$employee['position']}</p>
                            <p class="more">了解更多</p>
                        </a>
                    </li>
                </foreach>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="page_title">
            <header>
                <h3 class="cn">生物研发人才培训中心</h3>
                <h3 class="en">Biological R & D personnel training center</h3>
            </header>
        </div>
        <div class="section wrap">
            <div class="section wrap">
                <div class="photo">
                    <img src="__PUBLIC__/Uploads/pics/Biological_01_img.jpg">
                    <p class="text-center">培训介绍</p>
                </div>
                <article class="indent">
                    <p>现代医学和生命科学的发展依赖于分子细胞生物学技术的应用。高等院校的基础分子细胞生物学实验技术课程课时偏少，内容粗放，很难让研究生快速切入研究。初入实验室，也许一切看起来都很简单，但实际操作，动手就错，很多实验现象难以理解，很多疑问得不到解答！为让广大从事医学、生命科学研究事业的科研人员系统学习分子细胞生物学基础理论和实验操作技术，更好、更快、更高质量地完成科研任务，由辽宁佰昊生物科技有限公司举办的“生命科学基础技术教育强化培训班”，定于2016年8月至9月在辽宁本溪中国要读创新园召开。</p><p>
                        本届培训班长期招生，面向广大生物技术从业人员及大中专在校学生、教师、临床医生等旨在加强生物技术基础教育能力建设、为生物医药输送更多生物技术人才，同时探索生物技术标准化、规范化以及信息化建设新模式，促进生物医药的快速发展。中心技术成熟/设备齐全，由长期奋战在科研一线的资深专业技术人员担纲，培训内容涵盖常规分子、蛋白、细胞实验技术，同时介绍分子生物学的最新进展，内容专业、具体、翔实，结合大量的实际操作和实战经验，让学员对分子生物学有一个全面、具体的了解，学到真东西。</p><p>
                        培训中心位于辽宁本溪与沈阳的交界处，距离本溪和沈阳都很近（1小时车程），在学习之余，不仅可以踏遍国际化的大都市而且可以游览周遭人杰地灵的本溪美景，不失为一种既充电又放松的好选择。
                    </p>
                </article>
            </div>
        </div>
    </div>
</div>
<include file="Public/footer" />
