<include file="public/header" title="联系我们" name="contact" />
<div class="main">
    <header class="row">
        <div class="color">
            <h2>辽宁佰昊生物科技有限公司</h2>
            <p>佰昊生物科技有限公司是东北第一家适当就没看啥地方</p>
            <p>佰昊生物科技有限公司是东北第一家适当就没看啥地方规范的快乐</p>
        </div>
    </header>
    <div class="page row">
        <header>
            <h4 class="cn">联系我们</h4>
            <h4 class="en">CONTACT US</h4>
        </header>
        <div class="map">
            <img src="__PUBLIC__/Uploads/pics/contact_map_img.jpg">
        </div>
        <div class="info">
            <h5>辽宁佰昊生物科技有限公司</h5>
            <address>
                <p>地址：辽宁省本溪市中国药都产业...</p>
            </address>
            <p>邮编：123000</p>
            <p>电话：18241891790</p>
            <p>QQ：126371641</p>
            <p>邮箱：126371641@qq.com</p>
            <div class="qrcode">
                <img src="">
                <p>微信二维码</p>
            </div>
        </div>
    </div>
</div>
<include file="public/footer" />
