<include file="Public/header" title="招聘信息" name="jobs" />
<div class="main">
    <header class="pageHeader row">
        <div class="bgcolor">
            <h5 class="cn">欢迎加入佰昊生物科技</h5>
            <h5 class="en">Welcome to join Bai Hao Biotechnology</h5>
        </div>
    </header>
    <div class="row concept">
        <div class="page_title">
            <header>
                <h3 class="cn">人才理念</h3>
                <h3 class="en">CONCEPT</h3>
            </header>
        </div>
        <div class="info wrap">
            <p class="indent">
                <img src="__PUBLIC__/Uploads/pics/comp_img.jpg">
                <span class="value">
                            辽宁佰昊生物科技有限公司的人才理念是你发的健康发 送 该方法 是大法官都发给我啥都没看我饿哦日没浮浮 动规范问题唐人规范去锐特规范为规范共分为锐特个共 分为规范悟空 问题欧诺4 课后-36看课后题开好头好锐 特45 回家，吗雷霆人员锐特恐怕要 总局股份而快捷提 问经过客服我怕热儿童儿童计划热儿童锐特热 元问题辽宁佰昊生物科技有限公司的人才理念是你发的健康发 送 该方法 是大法官都发给我啥都没看我饿哦日没浮浮 动规范问题唐人规范去锐特规范为规范共分为锐特个共 分为规范悟空 问题欧诺4 课后-36看课后题开好头好锐 特45 回家，吗雷霆人员锐特恐怕要 总局股份而快捷提 问经过客服我怕热儿童儿童计划热儿童锐特热 元问题辽宁佰昊生物科技有限公司的人才理念是你发的健康发 送 该方法 是大法官都发给我啥都没看我饿哦日没浮浮 动规范问题唐人规范去锐特规范为规范共分为锐特个共 分为规范悟空 问题欧诺4 课后-36看课后题开好头好锐 特45 回家，吗雷霆人员锐特恐怕要 总局股份而快捷提 问经过客服我怕热儿童儿童计划热儿童锐特热 元问题元问题辽宁佰昊生物科技有限公司的人才理念是你发的健康发 送 该方法 是大法官都发给我啥都没看我饿哦日没浮浮 动规范问题唐人规范去锐特规范为规范共分为锐特个共 分为规范悟空 问题欧诺4 课后-36看课后题开好头好锐 特45 回家，吗雷霆人员锐特恐怕要 总局股份而快捷提 问经过客服我怕热儿童儿童计划热儿童锐特热 元问题元问题辽宁佰昊生物科技有限公司的人才理念是你发的健康发 送 该方法 是大法官都发给我啥都没看我饿哦日没浮浮 动规范问题唐人规范去锐特规范为规范共分为锐特个共 分为规范悟空 问题欧诺4 课后-36看课后题开好头好锐 特45 回家，吗雷霆人员锐特恐怕要 总局股份而快捷提 问经过客服我怕热儿童儿童计划热儿童锐特热 元问题
                        </span>
            </p>
        </div>
    </div>
    <div class="row jobList">
        <div class="page_title">
            <header>
                <h3 class="cn">诚聘精英</h3>
                <h3 class="en">JOBLIST</h3>
            </header>
        </div>
        <div class="wrap info">
            <ul class="list-unstyled">
                <foreach name="job" item="result" key="key">
                    <li class="laboratory">
                        <h3>{$key}</h3>
                        <ul class="list-unstyled">
                            <foreach name="result" item="vo">
                                <li class="jobInfo">
                                    <p><span class="title">招聘岗位：</span><span class="value">{$vo['station']}</span>(<span class="num">{$vo['number']}</span>人)</p>
                                    <div>
                                        <p class="title">任职要求：</p>
                                        <ol>
                                            <p>{$vo['demand']}</p>
                                        </ol>
                                    </div>
                                </li>
                            </foreach>
                        </ul>
                    </li>
                </foreach>
            </ul>
        </div>
    </div>
</div>
<include file="Public/footer" />
