<include file="Public/header" title="招聘信息" name="jobs" />
<div class="main">
    <header class="pageHeader row">
        <div class="bgcolor">
            <h5 class="cn">欢迎加入佰昊生物科技</h5>
            <h5 class="en">Welcome to join Bai Hao Biotechnology</h5>
        </div>
    </header>
    <div class="row concept">
        <div class="page_title">
            <header>
                <h3 class="cn">人才理念</h3>
                <h3 class="en">CONCEPT</h3>
            </header>
        </div>
        <div class="info wrap">
            <ul>
                <li>
                    <div class="icon">
                        <h4><span class="fa fa-check"></span><span class="value">选才观</span></h4>
                    </div>
                    <p>
                        <span>“人能尽其才则百事兴”，合适与进取是佰昊选材最主要的两大观念：</span>
                        <span>合适，适应企业的当下发展与未来发展；</span>
                        <span>进取，鼓励大胆的开拓创新与锐意进取。</span>
                        <span>佰昊全面发展人才的思想观念，充分激发各类人才的创造活力。</span>
                    </p>
                </li>
                <li>
                    <div class="icon">
                        <h4><span class="fa fa-child"></span><span class="value">用才观</span></h4>
                    </div>
                    <p>
                        <span>“大抵任事之人，断不能有毁而无誉，有恩而无怨。自修者但求大闲不逾，不可因讥议而馁沈毅之气。衡人者但求一长可取，不可因微瑕而弃用有用之才，苟于长才者过事苛求，则庸庸者反得侥全。”</span>
                        <span>佰昊客观地、全面地发挥与发掘每一个员工的能力与潜能，使每一个员工的职能最大化。并提供公平、公正的工作平台，使得每位有能力的员工，都会得到晋升的空间，在生活与工作上，与员工建立起实时动态的沟通与交流，给予员工及时的帮助与适时的学习机会，让员工感受到人性化的关怀。</span>
                    </p>
                </li>
                <li>
                    <div class="icon">
                        <h4><span class="fa fa-flag"></span><span class="value">留才观</span></h4>
                    </div>
                    <p>
                        <span>“山不厌高，海不厌深。周公吐哺，天下归心。”</span>
                        <span>人才的发展是佰昊发展的根本动力所在。我们对每一个员工的酬劳采取弹性制度，员工的能力与薪资成正比。每一个人才，佰昊都会倍加珍惜。对于来到公司工作的每一位员工，无论在工作和生活中遇到的问题和困难，公司都会尽全力帮每位员工解决。</span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row jobList">
        <div class="page_title">
            <header>
                <h3 class="cn">诚聘精英</h3>
                <h3 class="en">JOBLIST</h3>
            </header>
        </div>
        <div class="wrap info">
            <ul class="list-unstyled">
                <foreach name="job" item="result" key="key">
                    <li class="laboratory">
                        <h3>{$key}</h3>
                        <ul class="list-unstyled">
                            <foreach name="result" item="vo">
                                <li class="jobInfo">
                                    <p><span class="title">招聘岗位：</span><span class="value">{$vo['station']}</span>(<span class="num">{$vo['number']}</span>人)</p>
                                    <div>
                                        <p class="title">任职要求：</p>
                                        <ol>
                                            <foreach name="vo['demand']" item="dem">
                                                <li>
                                                    <p>{$dem}</p>
                                                </li>
                                            </foreach>
                                        </ol>
                                    </div>
                                </li>
                            </foreach>
                        </ul>
                    </li>
                </foreach>
            </ul>
        </div>
    </div>
</div>
<include file="Public/footer" name="jobs" />
