<include file="public/header" title="在线留言" name="message" />
<div class="main">
    <div class="page_title">
        <header>
            <h3 class="cn">在线留言</h3>
            <h3 class="en">Online Message</h3>
        </header>
    </div>
    <div class="row form">
        <form action="{:U('Home/contact/add')}" type="post" class="wrap" method="post">
            <div>
                <label>姓名：</label>
                <input type="text" name="name">
            </div>
            <div>
                <label>联系地址：</label>
                <input type="tel" name="address">
            </div>
            <div>
                <label>电话：</label>
                <input type="email" name="telephone">
            </div>
            <div>
                <label>工作单位：</label>
                <input type="text" name="work">
            </div>
            <div class="email">
                <label>邮箱：</label>
                <input type="text" name="email">
            </div>
            <div class="txt">
                <label>内容：</label>
                <input type="text" name="content">
            </div>
            <div class="btn-group">
                <button class="btn btn-default btn-block">发送</button>
            </div>
        </form>
    </div>
</div>
<include file="public/footer" name="message" />
