<include file="Public/header" title="在线留言" name="message" />
<div class="main row">
    <div class="bg">
        <div class="page_title">
            <header>
                <h3 class="cn">在线留言</h3>
                <h3 class="en">Online Message</h3>
            </header>
        </div>
        <div class="form">
            <div class="form_body">
                <div class="fl">
                    <div>
                        <label>姓名</label>
                        <input type="text" name="name">
                    </div>
                    <div>
                        <label>电话</label>
                        <input type="tel" name="telephone" id="telephone">
                    </div>
                    <div class="email">
                        <label>邮箱</label>
                        <input type="text" name="email" id="email">
                    </div>
                </div>
                <div class="fr">
                    <div>
                        <label>联系地址</label>
                        <input type="address" name="address">
                    </div>
                    <div>
                        <label>固定电话</label>
                        <input type="tel" name="tel" id="tel">
                    </div>
                    <div>
                        <label>工作单位</label>
                        <input type="text" name="work">
                    </div>
                </div>
                <div class="txt">
                    <label>内容：</label>
                    <textarea></textarea>
                </div>
            </div>
            <div class="btn-group">
                <button class="btn btn-default" type="submit">发送</button>
            </div>
        </div>
    </div>
</div>
<include file="Public/footer" name="message" />
