.welcome {
  height: 100%;
  background: url('../pic/welcome_bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 0;
}
.welcome .wrap {
  height: 100%;
  position: relative;
}
.welcome .info {
  background: rgba(255, 255, 255, 0.4);
  height: 14rem;
  width: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10rem;
  margin-left: -20rem;
}
.welcome .info h2 {
  text-align: center;
}
.welcome .info .en {
  line-height: 7rem;
  font-size: 3rem;
}
.welcome .info .cn {
  font-size: 1.2rem;
  line-height: 1;
}
.welcome .announgement {
  height: 6rem;
  position: absolute;
  width: 100%;
  bottom: -3rem;
}
.welcome .announgement h3 {
  float: left;
  width: 20%;
  margin: 0;
  background: #2a2a2a;
  height: 100%;
}
.welcome .announgement h3 .en {
  color: #b5b6b6;
  font-size: 0.7rem;
  line-height: 3rem;
  vertical-align: bottom;
  text-align: center;
  display: block;
}
.welcome .announgement h3 .cn {
  display: block;
  color: #f9fbfb;
  text-align: center;
  font-size: 1rem;
  line-height: 3rem;
  margin-top: -0.5rem;
}
.welcome .announgement div {
  padding-left: 20%;
  width: 100%;
  background: #11c7c7;
  height: 100%;
}
.welcome .announgement div span {
  display: block;
  padding-left: 10%;
  color: white;
}
.welcome .announgement div .en {
  line-height: 3rem;
}
.welcome .announgement div .cn {
  line-height: 2rem;
}
.project {
  position: relative;
  padding-top: 5.5rem;
  border-bottom: 1px solid #64f5f5;
  padding-bottom: 4rem;
}
.project .infoList {
  display: none;
  width: 100%;
  background: #f4f4f4;
  padding-bottom: 2rem;
}
.project .infoList li {
  display: inline-block;
  width: 24%;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}
.project .infoList li a {
  color: #030303;
  text-decoration: none;
}
.project .infoList li span {
  display: block;
  text-align: center;
  font-size: 5rem;
  line-height: 10rem;
  color: #969797;
}
.project .infoList li h6 {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}
.project .infoList li p {
  line-height: 2;
}
.project .infoList li a:hover span {
  color: #64f5f5;
}
.project .infoList.active {
  display: block;
}
.project .pr {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: -0.75rem;
}
.project .pr span {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  background: #64f5f5;
  color: white;
  line-height: 1.5rem;
  text-align: center;
  border-radius: 1.5rem;
}
.news ol li {
  position: relative;
}
.news ol .num {
  height: 2.5rem;
  width: 2.5rem;
  display: block;
  line-height: 2.3rem;
  text-align: center;
  position: absolute;
  font-size: 1.3rem;
  border: 0.2rem solid #eee;
  border-radius: 2.5rem;
}
.news ol h6 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 5rem;
  line-height: 2.7rem;
}
.news ol .contact {
  display: none;
}
.news ol img {
  position: absolute;
  right: 2rem;
  top: 2rem;
  height: 15rem;
  display: none;
}
.news ol p {
  position: absolute;
  font-size: 0.9rem;
  width: 20rem;
  top: 8rem;
  left: 5rem;
}
.news ol .active {
  background: #11c7c7;
  width: 100%;
  height: 19rem;
  overflow: hidden;
}
.news ol .active .title {
  position: absolute;
  top: 3rem;
}
.news ol .active .title .num {
  background: white;
  border-color: white;
  position: absolute;
  top: 0.5rem;
  color: #11c7c7;
}
.news ol .active h6,
.news ol .active p {
  color: white;
}
.news ol .active img {
  display: block;
}
.news ol .active .contact {
  display: block;
}
.activity {
  background: #f4f4f4;
}
.activity .banner {
  text-align: center;
  height: 20rem;
  padding: 0;
  position: relative;
}
.activity .banner li {
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
}
.activity .banner li a {
  display: block;
}
.activity .banner .index_0 {
  top: 3rem;
  left: 3rem;
}
.activity .banner .index_1 {
  top: 0rem;
  left: 50%;
  margin-left: -15rem;
  z-index: 99;
}
.activity .banner .index_2 {
  top: 3rem;
  right: 3rem;
}
.activity .banner .index_0 img,
.activity .banner .index_2 img {
  width: 20rem;
}
.activity .banner .index_1 img {
  width: 30rem;
}
.activity .banner_nav {
  padding: 0;
  text-align: center;
}
.activity .banner_nav li {
  display: inline-block;
  margin-right: 10px;
}
.activity .banner_nav li a {
  display: block;
  height: 0.5rem;
  width: 0.5rem;
  background: #aaa;
  border-radius: 1rem;
}
.activity .banner_nav .active a {
  background: #11c7c7;
}
.activity .banner_info {
  padding: 0;
  margin: 0;
}
.activity .banner_info li {
  display: none;
}
.activity .banner_info li h4 {
  padding: 0;
  font-size: 1rem;
  line-height: 3;
  text-align: center;
  padding-right: 0.2rem;
}
.activity .banner_info li p {
  padding-left: 0.5rem;
  width: 30rem;
  margin: 0 auto;
}
.activity .banner_info .active {
  display: block;
}
