<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../public/libs/font-awesome.min.css"> -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/public.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/people/css/about_people.css">
</head>

<body>
    <div class="container-fluid">
        <header class="header row">
            <div class="wrap">
                <div class="logo">
                    <a href="#">
                        <!-- <img src="../pic/news_img.jpg"> -->
                        <h1>佰昊生物</h1>
                        <p>Hk's son biological</p>
                    </a>
                </div>
                <div class="search">
                    <div>
                        <input type="text" placeholder="关键字/关键词">
                        <button>搜索</button>
                    </div>
                </div>
                <nav>
                    <ul>
                        <li><a href="#">首页</a></li>
                        <li><a href="#">关于佰昊</a></li>
                        <li><a href="#">服务项目</a></li>
                        <li><a href="#">特色项目</a></li>
                        <li><a href="#">企业资讯</a></li>
                        <li><a href="#">联系我们</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- ==================== -->
        <!-- 以上部分为header模板 -->
        <!-- ==================== -->
        <div class="main">
            <div class="row">
                <header>
                    <div class="wrap">
                        <img src="__PUBLIC__/Home/people/pic/avatar_02_img.jpg">
                        <div>
                            <h3>刘文</h3>
                            <p class="info">博士、闽江学者特聘教授</p>
                            <p class="tel"><span>电话：</span><span class="value">0592-2881146</span></p>
                            <p class="email"><span>Email：</span><span class="value">w2liu@xmu.edu.cn</span></p>
                        </div>
                    </div>
                </header>
                <article class="wrap">
                    <h3>个人简历</h3>
                    <p> 刘文博士、闽江学者特聘教授，中组部“青年千人计划”入选者。2001年毕业于厦门大学生物学系，获生物学学士学位；2002年 至2005年工作于美国Sanford-Burnham医学研究所； 2011年毕业于美国加州大学圣地亚哥分校生物学系，获生物学博士学位；201 1年4月至 2013年4月在美国加州大学圣地亚哥分校医学院从事博士后研究；2013年5月至9月在美国加州大学圣地亚哥分校医学院担 任助理项目科学家；2013年9月至今任厦门大学药学院教授。主要从事表观遗传学调控子的分子作用机制及其在癌症等重大疾病发生 发展中的应用研究，同时也致力于发现癌症特异性的非编码RNA及其分子作用机制的研究，并探寻能够有效和特异作用于表观遗传学 调控子和非编码RNA的活性小分子。论文发表在Nature，Cell, Cancer Cell，Molecular Cell, PNAS等科学期刊。研究成果获得两项 美国专利。研究获得HUANG MEM SC FND 奖学金（加州大学）, Susan G. Komen for the Cure奖学金以及国家自然基金的支持。 2013年入选“国家青年千人计划”。
                    </p>
                </article>
                <article class="wrap">
                    <h3>研究方向</h3>
                    <p> 本实验室主要开展以下研究内容：去甲基化酶在细胞周期调控，基因转录和剪接以及癌症发生和发展中的分子作用机制；筛选， 合成和优化能特异而有效抑制表观遗传学调控子的活性小分子，以期达到预防，治疗癌症等重大疾病；大规模筛选组蛋白修饰酶， 特别是甲基化和去甲基化酶的非组蛋白底物；深化非编码RNA的分子机制及功能研究。
                    </p>
                </article>
                <article class="wrap">
                    <h3>近期主要代表论著</h3>
                    <ol>
                        <li>Liu W*, Ma Q, Wong K.K., Li W.B., Ohgi K.A., Zhang J., Aggarwal. A., Rosenfeld, M.G*. Brd4 and JMJD6-associated Anti-pause Enhancers in Regulation of Transcriptional Pause Release. Cell (Cell 2013 Dec 19; 155(7):1581-1595) (*Co-c orresponding author,共同通讯作者).</li>
                        <li>Liu W, Tanasa B, Tyurina O.V., Zhou T.Y., Gassmann R, Liu W.T., Ohgi K.A., Benner C, Garcia-Bassets I, Aggarwal A. K., Desai A, Dorrestein P.C., Glass C.K., Rosenfeld M.G. PHF8 mediates histone H4 lysine 20 demethylation events invo lved in cell cycleprogression. Nature 2010 Jul 22; 466(7305):508-12</li>
                        <li>Zhou Hu*, Liu W*, Su Y, Wei Z, Liu J, Kolluri S.K., Wu H, Cao Y, Chen J, Wu Y, Yan T, Cao X, Gao W, Molotkov A, Jia ng F, Li W.G., Lin B, Zhang H.P., Yu J, Luo S.P., Zeng J.Z., Duester G, Huang P.Q., Zhang X.K. NSAID sulindac and its anal og bind RXRalpha and inhibit RXRalpha-dependent AKT signaling. Cancer Cell 2010 Jun 15;17(6):560-73 (*Co-first auth or,共同第一作者)
                        </li>
                        <li>Yang L* , Lin C*, Liu W, Zhang J, Ohgi K.A., Grinstein J.D, Dorrestein P.C., Rosenfeld M.G. ncRNA- and Pc2 Methyla tion-dependent Gene Relocation between Nuclear Structures Mediates Gene Activation Programs. Cell 2011 Nov 11; 1 47(4):773-88 (*Co-first author,共同第一作者).</li>
                        <li>Cao, X., Liu, W.,, Ling, F., Li, H., Kolluri S.K., Lin, B., Han, Y.H., Dawson, M.I., and Zhang, X.K. Retinoid X receptor reg ulates Nur77/TR3 dependent apoptosis by modulating its nuclear export and mitochondrial targeting. Molecular and Cellular Biology 24, 9705-9725 (2004)</li>
                        <li>Zhang L, Liu. W, Szumlinski KK, Lew J. p10, the N-terminal domain of p35, protects against CDK5/p25-induced neurot oxicity. Proceedings of the National Academy of Sciences Dec 4; 109 (49):20041-6. (2012)</li>
                    </ol>
                </article>
            </div>
            <!-- ==================== -->
            <!-- 以下部分为footer模板 -->
            <!-- ==================== -->
            <!-- 站点信息 -->
            <div class="siteInfo row">
                <div class="wrap">
                    <ul class="list-unstyled">
                        <li>
                            <h4>集团介绍</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">企业宗旨</a></li>
                                <li><a href="#">企业文化</a></li>
                                <li><a href="#">企业发展</a></li>
                            </ul>
                        </li>
                        <li>
                            <h4>诚聘信息</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">诚聘精英</a></li>
                                <li><a href="#">投递简历</a></li>
                            </ul>
                        </li>
                        <li>
                            <h4>联系我们</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">合作加盟</a></li>
                                <li><a href="#">详情咨询</a></li>
                            </ul>
                        </li>
                    </ul>
                    <p class="address">
                        <span class="fa fa-map-marker"></span>
                        <span class="value">辽宁省沈阳市浑南区</span>
                    </p>
                    <p class="tel">
                        <span class="fa fa-phone"></span>
                        <span class="value">024-8721-4321</span>
                    </p>
                </div>
            </div>
            <footer class="footer row">
                <span>佰昊生物科技有限公司</span>
                <span>版权所有</span>
                <span>c2010-2016</span>
                <span>辽ICP备 432454号</span>
            </footer>
        </div>
        <script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Home/people/js/about_people.js"></script>
</body>

</html>
