.main {
    header {
        background: #f7f6f6;
        padding: 4rem 0 4rem 5rem;
        overflow: hidden;
        .wrap {
            background: none;
            img {
                border: 1px solid #101010;
                float: left;
            }
            div {
                float: left;
                padding-left: 4rem;
                padding-top: 1.3rem;
            }
            h3 {
                color: #11c7c7;
            }
            p {
                line-height: 3;
            }
        }
    }
    article {
        h3 {
            color: #09dada;
            border-bottom: 2px solid #a2a2a2;
            line-height: 3rem;
            margin-bottom: 2rem;
        }
        p {
            line-height: 2;
            text-indent: 1.4rem;
        }
        li {
            padding-bottom: 2rem;
        }
    }
}
