.main {
    & > header {
        background: #f4f4f4;
        ul {
            li {
                line-height: 4rem;
                width: 19%;
                display: inline-block;
                text-align: left;
                a {
                    display: inline-block;
                    height: 2rem;
                    line-height: 2rem;
                    width: 70%;
                    border-radius: 8px;
                    border: 2px solid #09dada;
                    text-decoration: none;
                    text-align: center;
                    color: #2a2a2a;
                    &:hover {
                        color: white;
                        background: #09dada;
                    }
                }
                &.active {
                    a {
                        background: #09dada;
                        color: white;
                    }
                }
                &:first-child {
                    text-align: center;
                }
            }
        }
    }
    .info {
        display: none;
        &.active {
            display: block;
        }
        header {
            overflow: hidden;
            div:first-child {
                float: left;
                padding: 1rem 2rem;
                img {
                    display: inline-block;
                    width: 24rem;
                }
            }
            div:last-child {
                padding-left: 28rem;
                padding-top: 3rem;
                width: 50rem;
                h3 {
                    line-height: 2;
                }
                p {
                    line-height: 2;
                }
            }
        }
        ul {
            overflow: hidden;
            padding-top: 2rem;
            li {
                float: left;
                width: 33%;
                text-align: center;
                padding-bottom: 4rem;
                .card {
                    width: 70%;
                    margin: 0 auto;
                    border-radius: 0.2rem;
                    box-shadow: 0 0.1rem 0.5rem #aaa;
                }
                h4 {
                    margin: 0;
                    background: #abc;
                    a {
                        display: block;
                        line-height: 8rem;
                        color: white;
                        font-size: 1rem;
                        &:hover, &:link {
                            text-decoration: none;
                        }
                    }
                }
                .des {
                    width: 90%;
                    margin: 0 auto;
                    padding: 1rem 0;
                    font-size: 0.7rem;
                    .description {
                        text-align: justify;
                        height: 4rem;
                        overflow: hidden;
                    }
                    .more {
                        text-align: right;
                        display: block;
                        color: #888;
                    }
                }
            }
        }
    }
}