.main {
    & > div {
        overflow: hidden;
        & > header {
            border-bottom: 1px solid #c0c0c0;
            padding: 0.5rem 0;
            h3 {
                line-height: 1;
                padding-left: 1rem;
                border-left: 4px solid #09dada;
            }
        }
        .newsList {
            float: left;
            width: 60%;
            li.newsItem {
                overflow: hidden;
                padding: 1rem;
                img {
                    width: 15rem;
                    height: auto;
                    float: left;
                }
                div {
                    padding-left: 16rem;
                    width: 90%;
                    h6 {
                        line-height: 2;
                    }
                    p {
                        line-height: 1.5;
                    }
                }
            }
            .paging {
                text-align: center;
                ul {
                    display: inline-block;
                    padding: 2rem 0;
                    width: 100%;
                }
                li {
                    display: inline-block;
                    a {
                        color: white;
                        text-decoration: none;
                        margin-left: 0.5rem;
                        display: block;
                        line-height: 1.5rem;
                        width: 1.5rem;
                        text-align: center;
                        background: #858585;
                    }
                    &.active {
                        display: inline-block !important;
                        a {
                            background: #09dada;
                        }
                    }
                }
            }
        }
        .newest {
            float: right;
            width: 40%;
            padding: 0 1rem 2rem 1rem;
            margin-top: 2rem;
            border-left: 1px solid #c3c1c1;
            li {
                line-height: 3;
                border-bottom: 1px solid #c3c1c1;
                overflow: hidden;
                a {
                    color: #2a2a2a;
                    float: left;
                }
                span {
                    color: #ababab;
                    float: right;
                }
            }
        }
    }
}
