.main > div {
  overflow: hidden;
}
.main > div > header {
  border-bottom: 1px solid #c0c0c0;
  padding: 0.5rem 0;
}
.main > div > header h3 {
  line-height: 1;
  padding-left: 1rem;
  border-left: 4px solid #09dada;
}
.main > div .newsList {
  float: left;
  width: 60%;
}
.main > div .newsList li.newsItem {
  overflow: hidden;
  padding: 1rem;
}
.main > div .newsList li.newsItem img {
  width: 15rem;
  height: auto;
  float: left;
}
.main > div .newsList li.newsItem div {
  padding-left: 16rem;
  width: 90%;
}
.main > div .newsList li.newsItem div h6 {
  line-height: 2;
}
.main > div .newsList li.newsItem div p {
  line-height: 1.5;
}
.main > div .newsList .paging {
  text-align: center;
}
.main > div .newsList .paging ul {
  display: inline-block;
  padding: 2rem 0;
  width: 100%;
}
.main > div .newsList .paging li {
  display: inline-block;
}
.main > div .newsList .paging li a {
  color: white;
  text-decoration: none;
  margin-left: 0.5rem;
  display: block;
  line-height: 1.5rem;
  width: 1.5rem;
  text-align: center;
  background: #858585;
}
.main > div .newsList .paging li.active {
  display: inline-block !important;
}
.main > div .newsList .paging li.active a {
  background: #09dada;
}
.main > div .newest {
  float: right;
  width: 40%;
  padding: 0 1rem 2rem 1rem;
  margin-top: 2rem;
  border-left: 1px solid #c3c1c1;
}
.main > div .newest li {
  line-height: 3;
  border-bottom: 1px solid #c3c1c1;
  overflow: hidden;
}
.main > div .newest li a {
  color: #2a2a2a;
  float: left;
}
.main > div .newest li span {
  color: #ababab;
  float: right;
}
