.main header {
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}
.main header .center_block {
  overflow: hidden;
  height: 100%;
  width: 60%;
  margin: auto;
}
.main header .center_block img {
  border: 1px solid #101010;
  float: left;
}
.main header .center_block h3 {
  color: #11c7c7;
}
.main header .center_block p {
  line-height: 3;
}
.main article p {
  line-height: 2;
}
.main article li {
  padding-bottom: 2rem;
}
