.main {
    header {
        overflow: hidden;
        border-bottom: 1px solid #c4c4c4;
        .center_block {
            overflow: hidden;
            height: 100%;
            width: 60%;
            margin: auto;
            img {
                border: 1px solid #101010;
                float: left;
            }
            h3 {
                color: #11c7c7;
            }
            p {
                line-height: 3;
            }
        }
    }
    article {
        p {
            line-height: 2;
        }
        li {
            padding-bottom: 2rem;
        }
    }
}
