.main {
    & > header {
        background: url('../../public/background/contact_header_bg.jpg');
        background-size: 100% auto;
        background-position: top left;
        height: 20rem;
        color: white;
        .color {
            background: rgba(42, 42, 42, 0.4);
            height: 100%;
            width: 100%;
            margin-top: -1rem;
        }
        h2 {
            text-align: center;
            padding-top: 7rem;
            font-size: 2rem;
            letter-spacing: 0.3rem;
        }
        p {
            text-align: center;
            padding-top: 1rem;
            font-size: 1rem;
            span {
                display: inline-block;
                width: 4rem;
                font-weight: normal;
            }
        }
    }
    #map {
        width: 60%;
        margin: 0 auto;
        height: 400px;
        .icon {
            background: url(http://lbs.amap.com/console/public/show/marker.png) no-repeat;
        }
        .icon-cir {
            height: 31px;
            width: 28px;
        }
        .icon-cir-red {
            background-position: -11px -5px;
        }
    }
    .info {
        h5 {
            font-size: 1.2rem;
            line-height: 2;
        }
        .title {}
        address {
            margin-bottom: 0;
        }
    }
    .qrcode {
        float: left;
        width: 45%;
        text-align: right;
        div {
            width: 50%;
            padding-right: 2rem;
            display: inline-block;
        }
        img,
        p {
            width: 80%;
            color: #aaa;
            display: inline-block;
            text-align: center;
        }
    }
}
