.main > header {
  background: url('../../public/background/contact_header_bg.jpg');
  background-size: cover;
  background-position: center center;
  height: 20rem;
  color: white;
}
.main > header .color {
  background: rgba(42, 42, 42, 0.4);
  height: 100%;
  width: 100%;
  margin-top: -1rem;
}
.main > header h2 {
  text-align: center;
  padding-top: 4.2rem;
}
.main > header p {
  text-align: center;
  padding-top: 1.4rem;
  font-size: 0.8rem;
}
.main #map {
  width: 60%;
  margin: 0 auto;
  height: 400px;
}
.main #map .icon {
  background: url(http://lbs.amap.com/console/public/show/marker.png) no-repeat;
}
.main #map .icon-cir {
  height: 31px;
  width: 28px;
}
.main #map .icon-cir-red {
  background-position: -11px -5px;
}
.main .info h5 {
  font-size: 1.2rem;
  line-height: 2;
}
.main .info address {
  margin-bottom: 0;
}
.main .qrcode {
  float: left;
  width: 50%;
  text-align: right;
}
.main .qrcode div {
  width: 50%;
  padding-right: 2rem;
  display: inline-block;
}
.main .qrcode img,
.main .qrcode p {
  width: 80%;
  display: inline-block;
  text-align: center;
}
