.main > header {
  background: url('../../public/background/contact_header_bg.jpg');
  background-size: cover;
  background-position: center center;
  height: 20rem;
  color: white;
}
.main > header .color {
  background: rgba(42, 42, 42, 0.4);
  height: 100%;
  width: 100%;
  margin-top: -1rem;
}
.main > header h2 {
  text-align: center;
  padding-top: 4.2rem;
}
.main > header p {
  text-align: center;
  padding-top: 1.4rem;
  font-size: 0.8rem;
}
#map {
  width: 60%;
  margin: 0 auto;
  height: 400px;
}
#map .icon {
  background: url(http://lbs.amap.com/console/public/show/marker.png) no-repeat;
}
#map .icon-cir {
  height: 31px;
  width: 28px;
}
#map .icon-cir-red {
  background-position: -11px -5px;
}
