<!-- 新闻 列表 -->
<div>
    <button class="btn btn-primary" ui-sref="newsAdd">添加</button>
</div>
<div class="_listTable">
    <table class="table">
        <thead>
            <tr>
                <th>序号</th>
                <th>标题</th>
                <th>摘要</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            <tr ng-repeat="item in newsDatas.list">
                <td>{{$index + 1}}</td>
                <td>{{item.title}}</td>
                <td>{{item.shortDesc}}</td>
                <td>{{item.createTime | date:'yyyy-MM-dd hh:ss'}}</td>
                <td>
                    <a ng-click="showService(item.id)">详情</a>
                    <a ng-click="editService(item.id)">编辑</a>
                    <a ng-click="deleteService(item.id)">删除</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
