<include file="public/header" title="促销活动" name="sale" />
<div class="main">
    <include file="public/breadcrumb" />
    <div class="row">
        <div class="page_title">
            <header>
                <h3 class="cn">促销活动</h3>
                <h3 class="en">Sale activity</h3>
            </header>
        </div>
        <div class="wrap sales_list page active">
            <ul class="list-unstyled">
                <foreach name="activity" item="vo">
                <li>
                    <img src="__PUBLIC__/Home/sale/pic/sales_list_1_img.jpg">
                    <h4>{$vo['title']}</h4>
                    <p>
                        <span class="title">活动介绍：</span>
                        <span class="value">{$vo['short_desc']}</span>
                    </p>
                </li>
                </foreach>
            </ul>
        </div>
    </div>
</div>
<include file="public/footer" />
