<include file="Public/header" title="促销活动" name="sale" />
<div class="main">
    <include file="public/breadcrumb" />
    <div class="wrap">
        <div class="article_title">
            <header>
                <h4>促销活动</h4>
            </header>
        </div>
        <div class="sales_list">
            <ul class="list-unstyled">
                <foreach name="activity" item="vo">
                    <li>
                        <a href="#">
                            <img src="__ROOT__/{$vo['photo']}">
                            <div class="info">
                                <h4>{$vo['title']}</h4>
                                <p>
                                    <span class="title">活动介绍：</span>
                                    <span class="value">{$vo['short_desc']}</span>
                                </p>
                            </div>
                        </a>
                    </li>
                </foreach>
            </ul>
        </div>
    </div>
</div>
<include file="Public/footer" />
