<include file="Public/header" title="促销活动" name="sale" />
<div class="main">
    <div class="page_title">
        <header>
            <h3 class="cn">促销活动</h3>
            <h3 class="en">Sale Activity</h3>
        </header>
    </div>
    <div class="wrap">
        <div class="sales_list">
            <ul class="list-unstyled">
                <foreach name="activity" item="vo">
                    <li>
                        <div class="cont">
                            <div class="pic">
                                <a href="#">
                                    <img src="__ROOT__/{$vo['photo']}">
                                </a>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="#">
                                        {$vo['title']}
                                    </a>
                                </h4>
                                <p>
                                    <span class="title">活动介绍：</span>
                                    <span class="value">{$vo['short_desc']}</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </foreach>
            </ul>
            <p class="more">更多活动，敬请关注。</p>
        </div>
    </div>
</div>
<include file="Public/footer" />
