<include file="public/header" title="促销活动" name="sale" />
<div class="main row">
    <div class="row">
        <header class="news_header">
            <nav class="wrap">
                <ul>
                    <li class="active"><a href="#">促销活动</a></li>
                    <li><a href="#">新闻动态</a></li>
                    <li><a href="#">实验室展示</a></li>
                </ul>
            </nav>
        </header>
        <div class="wrap sales_list page active">
            <header>
                <h3>促销活动列表</h3>
            </header>
            <ul class="list-unstyled">
                <li>
                    <img src="./pic/sales_list_1_img.jpg">
                    <h4>活动名称1</h4>
                    <p>
                        <span class="title">活动介绍：</span>
                        <span class="value">的撒旦佛挡杀佛扣扣群是短发控脾气发送到首付款方式刚发的广泛地哥哥我国 规定范围共分为儿童热儿童额问题我儿童我人物特儿童热规范 委托人为为为</span>
                    </p>
                </li>
                <li>
                    <img src="./pic/sales_list_2_img.jpg">
                    <h4>活动名称1</h4>
                    <p>
                        <span class="title">活动介绍：</span>
                        <span class="value">的撒旦佛挡杀佛扣扣群是短发控脾气发送到首付款方式刚发的广泛地哥哥我国 规定范围共分为儿童热儿童额问题我儿童我人物特儿童热规范 委托人为为为</span>
                    </p>
                </li>
                <li>
                    <img src="./pic/sales_list_3_img.jpg">
                    <h4>活动名称1</h4>
                    <p>
                        <span class="title">活动介绍：</span>
                        <span class="value">的撒旦佛挡杀佛扣扣群是短发控脾气发送到首付款方式刚发的广泛地哥哥我国 规定范围共分为儿童热儿童额问题我儿童我人物特儿童热规范 委托人为为为</span>
                    </p>
                </li>
                <li>
                    <img src="./pic/sales_list_4_img.jpg">
                    <h4>活动名称1</h4>
                    <p>
                        <span class="title">活动介绍：</span>
                        <span class="value">的撒旦佛挡杀佛扣扣群是短发控脾气发送到首付款方式刚发的广泛地哥哥我国 规定范围共分为儿童热儿童额问题我儿童我人物特儿童热规范 委托人为为为</span>
                    </p>
                </li>
                <li>
                    <img src="./pic/sales_list_5_img.jpg">
                    <h4>活动名称1</h4>
                    <p>
                        <span class="title">活动介绍：</span>
                        <span class="value">的撒旦佛挡杀佛扣扣群是短发控脾气发送到首付款方式刚发的广泛地哥哥我国 规定范围共分为儿童热儿童额问题我儿童我人物特儿童热规范 委托人为为为</span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
<include file="public/footer" />
