<!-- 编辑器1 -->
<script type="text/javascript" charset="utf-8" src="/Public/Admin/editor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/Public/Admin/editor/ueditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="/Public/Admin/editor/lang/zh-cn/zh-cn.js"></script>
<!-- 编辑器1 end -->
<div class="service detail">
    <div class="form-group _required">
        <label for="title">标题：</label>
        <input type="text" placeholder="请输入标题" id="title" ng-model="serviceDatas.newData.title">
    </div>
    <div class="form-group _required">
        <label for="sort">分类：</label>
        <select ng-model="serviceDatas.topSort">
            <option value="0" selected="selected">普通服务</option>
            <option value="1">特色服务</option>
        </select>
        <select id="sort" ng-model="serviceDatas.newData.sortId">
            <option ng-repeat="sort in serviceDatas.sort" value="{{sort.id}}">{{sort.title}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="description" class="_required">项目简介：</label>
        <textarea id="description" ng-model="serviceDatas.newData.description"></textarea>
    </div>
    <div class="form-group">
        <label for="experimentFlow">实验流程：</label>
        <!-- 编辑器2 -->
        <script id="experimentFlow" type="text/plain" style="width:875px;height:200px;" name="experimentFlow"></script>
        <!-- 编辑器2 end -->
    </div>
    <div class="form-group">
        <label for="userNotice">用户须知：</label>
        <textarea id="userNotice" ng-model="serviceDatas.newData.userNotice"></textarea>
    </div>
    <div class="form-group">
        <label for="resultShow">结果展示：</label>
        <label for="resultShow" class="uploadIcon">
            <span class="fa fa-file"></span>
        </label>
        <input type="file" id="resultShow" onchange="angular.element(this).scope().uploadImg(event, 'resultShow')">
    </div>
    <div class="form-group">
        <label for="serverCircle">服务周期：</label>
        <textarea id="serverCircle" ng-model="serviceDatas.newData.serverCircle"></textarea>
    </div>
    <div class="btn-group">
        <button class="btn btn-primary" ng-click="submit()">保存</button>
        <button class="btn btn-warning">放弃</button>
    </div>
    <!-- 编辑器3 -->
    <script type="text/javascript">
        UEDITOR_CONFIG.toolbars = [[
            'fullscreen', 'source', '|', 'undo', 'redo', '|',
            'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
            'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
            'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
            'directionalityltr', 'directionalityrtl', 'indent', '|',
            'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
            'link', 'unlink', 'anchor', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
            'simpleupload', 'insertimage', 'emotion', 'scrawl', 'insertvideo', 'music', 'attachment', 'map', 'gmap', 'insertframe', 'insertcode', 'webapp', 'pagebreak', 'template', 'background', '|',
            'horizontal', 'date', 'time', 'spechars', 'snapscreen', 'wordimage', '|',
            'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', 'charts', '|',
            'print', 'preview', 'searchreplace', 'help', 'drafts'
        ]];
        var ue = UE.getEditor('experimentFlow', {
            autoHeightEnabled: true,
            autoFloatEnabled: true
        });
    </script>
    <!-- 编辑器3 end-->
</div>
