<div>
    <!-- <select class="btn btn-default" ng-change="sortList()">
        <option>所有服务</option>
        <option>服务项目</option>
        <option>特别服务</option>
    </select> -->
    <button class="btn btn-primary" ng-click="addService()">添加</button>
</div>
<div class="dataTable">
    <table class="table">
        <thead>
            <tr>
                <th>序号</th>
                <th>标题</th>
                <th>类别</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            <tr ng-repeat="item in serviceDatas.list">
                <td>{{$index + 1}}</td>
                <td>{{item.title}}</td>
                <td>{{item.sortTitle}}</td>
                <td>{{item.createTime | date:'yyyy-MM-dd hh:ss'}}</td>
                <td>
                    <a href="" ng-click="showService(item.id)">详情</a>
                    <a href="" ng-click="editService(item.id)">编辑</a>
                    <a href="" ng-click="deleteService(item.id)">删除</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
