.main {
  padding-bottom: 2rem;
}
.main header {
  border-bottom: 1px solid #959595;
  padding-bottom: 0.8rem;
  margin-bottom: 1rem;
}
.main header h3 {
  border-left: 5px solid #11c7c7;
  margin-left: 1rem;
  padding-left: 1rem;
  line-height: 1.5;
  font-size: 1rem;
}
.main p {
  padding-left: 1rem;
  line-height: 2;
}
