<include file="public/header" title="招聘信息" name="jobs" />
<div class="main">
    <header class="pageHeader row">
        <div class="bgcolor">
            <h5 class="cn">欢迎加入佰昊生物科技</h5>
            <h5 class="en">Welcome to Bai Hao Biotechnology</h5>
        </div>
    </header>
    <div class="area wrap concept">
        <header>
            <h3>人才理念</h3>
        </header>
        <div class="info">
            <p>
                <img src="./pic/company_pic_img.jpg">
                <span class="value">
                            辽宁佰昊生物科技有限公司的人才理念是你发的健康发 送 该方法 是大法官都发给我啥都没看我饿哦日没浮浮 动规范问题唐人规范去锐特规范为规范共分为锐特个共 分为规范悟空 问题欧诺4 课后-36看课后题开好头好锐 特45 回家，吗雷霆人员锐特恐怕要 总局股份而快捷提 问经过客服我怕热儿童儿童计划热儿童锐特热 元问题辽宁佰昊生物科技有限公司的人才理念是你发的健康发 送 该方法 是大法官都发给我啥都没看我饿哦日没浮浮 动规范问题唐人规范去锐特规范为规范共分为锐特个共 分为规范悟空 问题欧诺4 课后-36看课后题开好头好锐 特45 回家，吗雷霆人员锐特恐怕要 总局股份而快捷提 问经过客服我怕热儿童儿童计划热儿童锐特热 元问题辽宁佰昊生物科技有限公司的人才理念是你发的健康发 送 该方法 是大法官都发给我啥都没看我饿哦日没浮浮 动规范问题唐人规范去锐特规范为规范共分为锐特个共 分为规范悟空 问题欧诺4 课后-36看课后题开好头好锐 特45 回家，吗雷霆人员锐特恐怕要 总局股份而快捷提 问经过客服我怕热儿童儿童计划热儿童锐特热 元问题元问题辽宁佰昊生物科技有限公司的人才理念是你发的健康发 送 该方法 是大法官都发给我啥都没看我饿哦日没浮浮 动规范问题唐人规范去锐特规范为规范共分为锐特个共 分为规范悟空 问题欧诺4 课后-36看课后题开好头好锐 特45 回家，吗雷霆人员锐特恐怕要 总局股份而快捷提 问经过客服我怕热儿童儿童计划热儿童锐特热 元问题元问题辽宁佰昊生物科技有限公司的人才理念是你发的健康发 送 该方法 是大法官都发给我啥都没看我饿哦日没浮浮 动规范问题唐人规范去锐特规范为规范共分为锐特个共 分为规范悟空 问题欧诺4 课后-36看课后题开好头好锐 特45 回家，吗雷霆人员锐特恐怕要 总局股份而快捷提 问经过客服我怕热儿童儿童计划热儿童锐特热 元问题
                        </span>
            </p>
        </div>
    </div>
    <div class="area wrap jobList">
        <header>
            <h3>诚聘英才</h3>
        </header>
        <div class="info">
            <ul class="list-unstyled">
                <li class="laboratory">
                    <h3>基因组学实验室</h3>
                    <ul class="list-unstyled">
                        <li class="jobInfo">
                            <p><span class="title">招聘岗位：</span><span class="value">技术研究员</span>(<span class="num">3</span>人)</p>
                            <div>
                                <p class="title">任职要求：</p>
                                <ol>
                                    <li>分子生物学、生物化学相关专业，硕士以上学历；</li>
                                    <li>有实验经验，了解分子生物学基本原理，掌握分子克隆实验技术；</li>
                                    <li>有较强的英文文献查询阅读和编写能力。</li>
                                </ol>
                            </div>
                        </li>
                        <li class="jobInfo">
                            <div>
                                <span class="title">招聘岗位：</span>
                                <span class="value">技术研究员</span>(<span class="num">3</span>人<span>,<span>本科</span>学历以上</span>)
                            </div>
                            <div>
                                <p class="title">任职要求：</p>
                                <ol>
                                    <li>分子生物学、生物化学相关专业，硕士以上学历；</li>
                                    <li>有实验经验，了解分子生物学基本原理，掌握分子克隆实验技术；</li>
                                    <li>有较强的英文文献查询阅读和编写能力。</li>
                                </ol>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="laboratory">
                    <h3>基因组学实验室</h3>
                    <ul class="list-unstyled">
                        <li class="jobInfo">
                            <p><span class="title">招聘岗位：</span><span class="value">技术研究员</span>(<span class="num">3</span>人)</p>
                            <div>
                                <p class="title">任职要求：</p>
                                <ol>
                                    <li>分子生物学、生物化学相关专业，硕士以上学历；</li>
                                    <li>有实验经验，了解分子生物学基本原理，掌握分子克隆实验技术；</li>
                                    <li>有较强的英文文献查询阅读和编写能力。</li>
                                </ol>
                            </div>
                        </li>
                        <li class="jobInfo">
                            <div>
                                <span class="title">招聘岗位：</span>
                                <span class="value">技术研究员</span>(<span class="num">3</span>人<span>,<span>本科</span>学历以上</span>)
                            </div>
                            <div>
                                <p class="title">任职要求：</p>
                                <ol>
                                    <li>分子生物学、生物化学相关专业，硕士以上学历；</li>
                                    <li>有实验经验，了解分子生物学基本原理，掌握分子克隆实验技术；</li>
                                    <li>有较强的英文文献查询阅读和编写能力。</li>
                                </ol>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<include file="public/footer" />
