.main {
    padding-bottom: 2rem;
    & > header {
        ul {
            padding-top: 2rem;
            line-height: 2rem;
            li {
                display: inline-block;
                &:after {
                    content: ">";
                }
                &:last-child:after {
                    content: "";
                }
            }
        }
    }
    article {
        header {
            border-bottom: 1px solid #959595;
            padding-bottom: 0.8rem;
            margin-bottom: 1rem;
            h3 {
                border-left: 5px solid #11c7c7;
                margin-left: 1rem;
                padding-left: 1rem;
                line-height: 1.5;
                font-size: 1rem;
            }
        }
        p {
            padding-left: 1rem;
            line-height: 2;
        }
    }
}
