<include file="Public/header" title="新闻动态" name="news" />
<div class="main row">
    <div class="page_title">
        <header>
            <h3 class="cn">新闻动态</h3>
            <h3 class="en">news</h3>
        </header>
    </div>
    <div class="wrap">
        <div class="newsList">
            <ul class="list-unstyled">
                <foreach name="news" item="vo">
                    <li class="newsItem">
                        <a href="{:U('Home/news/info',array('newsId'=>$vo['id']))}">
                        <img src="__ROOT__/{$vo['photo']}" />
                        <div class="info">
                            <h4>{$vo['title']}</h4>
                            <p>{$vo['description']}</p>
                        </div>
                    </li>
                </foreach>
            </ul>
            <div class="paging">
                <ul>
                    <li><a href="#"><span class="fa fa-angle-left"></span></a></li>
                    <li class="active"><a href="#"><span>1</span></a></li>
                    <li><a href="#"><span>2</span></a></li>
                    <li><a href="#"><span>3</span></a></li>
                    <li><a href="#"><span class="fa fa-angle-right"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="newest">
            <div class="article_title">
                <header>
                    <h4>历史公告</h4>
                </header>
            </div>
            <ul class="list-unstyled">
                <foreach name="notice" item="vo">
                    <li><a href="#" class="title ellipsis_one_line">{$vo['content']}</a><span class="time">{$vo['create_time']}</span></li>
                </foreach>
            </ul>
        </div>
    </div>
</div>
<include file="Public/footer" />
