<include file="public/header" title="新闻动态" name="news" />
<div class="main">
    <div class="row">
        <header class="news_header">
            <nav class="wrap">
                <ul>
                    <li><a href="#">促销活动</a></li>
                    <li class="active"><a href="#">新闻动态</a></li>
                    <li><a href="#">实验室展示</a></li>
                </ul>
            </nav>
        </header>
        <div class="news page active">
            <div>
                <div class="banner"></div>
                <div class="newest">
                    <header>
                        <h3>最新动态</h3>
                        <ul>
                            <li>案发后我认为方式是飞洒的</li>
                            <li>案发后我认为方式是飞洒的太远野也让他鳄鱼头</li>
                        </ul>
                    </header>
                </div>
            </div>
            <div class="newsList">
                <header>
                    <h3>新闻列表</h3>
                </header>
                <ul>
                    <li>
                        <h6>刀锋为我方式撒人物广告的时间格式的偶就过段时间 问题分公司</h6>
                        <div class="info">
                            <img src="./pic/news_list_1_img.jpg" height="294" width="500">
                        </div>
                    </li>
                    <li>
                        <h6>刀锋为我方式撒人物广告的时间格式的偶就过段时间 问题分公司</h6>
                        <div class="info">
                            <img src="./pic/news_list_1_img.jpg" height="294" width="500">
                        </div>
                    </li>
                    <li>
                        <h6>刀锋为我方式撒人物广告的时间格式的偶就过段时间 问题分公司</h6>
                        <div class="info">
                            <img src="./pic/news_list_1_img.jpg" height="294" width="500">
                        </div>
                    </li>
                    <li>
                        <h6>刀锋为我方式撒人物广告的时间格式的偶就过段时间 问题分公司</h6>
                        <div class="info">
                            <img src="./pic/news_list_1_img.jpg" height="294" width="500">
                        </div>
                    </li>
                    <li>
                        <h6>刀锋为我方式撒人物广告的时间格式的偶就过段时间 问题分公司</h6>
                        <div class="info">
                            <img src="./pic/news_list_1_img.jpg" height="294" width="500">
                        </div>
                    </li>
                    <li>
                        <h6>刀锋为我方式撒人物广告的时间格式的偶就过段时间 问题分公司</h6>
                        <div class="info">
                            <img src="./pic/news_list_1_img.jpg" height="294" width="500">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<include file="public/footer" />
