<include file="public/header" title="新闻详情" name="news_info" />
<div class="main">
    <div class="row">
        <header class="news_header">
            <nav class="wrap">
                <ul>
                    <li><a href="#">促销活动</a></li>
                    <li class="active"><a href="#">新闻动态</a></li>
                    <li><a href="#">实验室展示</a></li>
                </ul>
            </nav>
        </header>
        <div class="wrap sales_list page">
            <header>
                <h3>促销活动列表</h3>
            </header>
            <ul class="list-unstyled">
                <li>
                    <img src="./pic/sales_list_1_img.jpg">
                    <h4>活动名称1</h4>
                    <p>
                        <span class="title">活动介绍：</span>
                        <span class="value">的撒旦佛挡杀佛扣扣群是短发控脾气发送到首付款方式刚发的广泛地哥哥我国 规定范围共分为儿童热儿童额问题我儿童我人物特儿童热规范 委托人为为为</span>
                    </p>
                </li>
                <li>
                    <img src="./pic/sales_list_2_img.jpg">
                    <h4>活动名称1</h4>
                    <p>
                        <span class="title">活动介绍：</span>
                        <span class="value">的撒旦佛挡杀佛扣扣群是短发控脾气发送到首付款方式刚发的广泛地哥哥我国 规定范围共分为儿童热儿童额问题我儿童我人物特儿童热规范 委托人为为为</span>
                    </p>
                </li>
                <li>
                    <img src="./pic/sales_list_3_img.jpg">
                    <h4>活动名称1</h4>
                    <p>
                        <span class="title">活动介绍：</span>
                        <span class="value">的撒旦佛挡杀佛扣扣群是短发控脾气发送到首付款方式刚发的广泛地哥哥我国 规定范围共分为儿童热儿童额问题我儿童我人物特儿童热规范 委托人为为为</span>
                    </p>
                </li>
                <li>
                    <img src="./pic/sales_list_4_img.jpg">
                    <h4>活动名称1</h4>
                    <p>
                        <span class="title">活动介绍：</span>
                        <span class="value">的撒旦佛挡杀佛扣扣群是短发控脾气发送到首付款方式刚发的广泛地哥哥我国 规定范围共分为儿童热儿童额问题我儿童我人物特儿童热规范 委托人为为为</span>
                    </p>
                </li>
                <li>
                    <img src="./pic/sales_list_5_img.jpg">
                    <h4>活动名称1</h4>
                    <p>
                        <span class="title">活动介绍：</span>
                        <span class="value">的撒旦佛挡杀佛扣扣群是短发控脾气发送到首付款方式刚发的广泛地哥哥我国 规定范围共分为儿童热儿童额问题我儿童我人物特儿童热规范 委托人为为为</span>
                    </p>
                </li>
            </ul>
        </div>
        <div class="news page active">
            <div class="">
                <div class="banner"></div>
                <div class="newest">
                    <header>
                        <h3>最新动态</h3>
                        <ul>
                            <li>案发后我认为方式是飞洒的</li>
                            <li>案发后我认为方式是飞洒的太远野也让他鳄鱼头</li>
                        </ul>
                    </header>
                </div>
            </div>
            <div class="newsList">
                <header>
                    <h3>新闻列表</h3>
                </header>
                <ul>
                    <li>
                        <h6>刀锋为我方式撒人物广告的时间格式的偶就过段时间 问题分公司</h6>
                        <div class="info">
                            <img src="./pic/news_list_1_img.jpg" height="294" width="500">
                        </div>
                    </li>
                    <li>
                        <h6>刀锋为我方式撒人物广告的时间格式的偶就过段时间 问题分公司</h6>
                        <div class="info">
                            <img src="./pic/news_list_1_img.jpg" height="294" width="500">
                        </div>
                    </li>
                    <li>
                        <h6>刀锋为我方式撒人物广告的时间格式的偶就过段时间 问题分公司</h6>
                        <div class="info">
                            <img src="./pic/news_list_1_img.jpg" height="294" width="500">
                        </div>
                    </li>
                    <li>
                        <h6>刀锋为我方式撒人物广告的时间格式的偶就过段时间 问题分公司</h6>
                        <div class="info">
                            <img src="./pic/news_list_1_img.jpg" height="294" width="500">
                        </div>
                    </li>
                    <li>
                        <h6>刀锋为我方式撒人物广告的时间格式的偶就过段时间 问题分公司</h6>
                        <div class="info">
                            <img src="./pic/news_list_1_img.jpg" height="294" width="500">
                        </div>
                    </li>
                    <li>
                        <h6>刀锋为我方式撒人物广告的时间格式的偶就过段时间 问题分公司</h6>
                        <div class="info">
                            <img src="./pic/news_list_1_img.jpg" height="294" width="500">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="laboratory page">
            <header>
                <h3>Begin</h3>
            </header>
            <ul class="list-unstyled">
                <li>
                    <img src="./pic/laboratory_list_1_img.jpg">
                    <div class="info">
                        <div class="wrap">
                            <h4>实验室展示一</h4>
                            <p>发的所发生的是否规范的规范的股份 多少个梵蒂冈规定发给我个地方官规 广告的覆盖更多的二哥 风格大方过分的话官方电话号个地方 更多覆盖个梵蒂冈</p>
                        </div>
                    </div>
                    <div class="down">
                        <span class="fa fa-angle-down"></span>
                    </div>
                </li>
                <li>
                    <img src="./pic/laboratory_list_2_img.jpg">
                    <div class="info">
                        <div class="wrap">
                            <h4>实验室展示一</h4>
                            <p>发的所发生的是否规范的规范的股份 多少个梵蒂冈规定发给我个地方官规 广告的覆盖更多的二哥 风格大方过分的话官方电话号个地方 更多覆盖个梵蒂冈</p>
                        </div>
                    </div>
                    <div class="down">
                        <span class="fa fa-angle-down"></span>
                    </div>
                </li>
                <li>
                    <img src="./pic/laboratory_list_3_img.jpg">
                    <div class="info">
                        <div class="wrap">
                            <h4>实验室展示一</h4>
                            <p>发的所发生的是否规范的规范的股份 多少个梵蒂冈规定发给我个地方官规 广告的覆盖更多的二哥 风格大方过分的话官方电话号个地方 更多覆盖个梵蒂冈</p>
                        </div>
                    </div>
                    <div class="down">
                        <span class="fa fa-angle-down"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<include file="public/footer" />
