.siteInfo {
    background: #2a2a2a;
    overflow: hidden;
    padding-bottom: 2rem;
    ul {
        li {
            float: left;
            overflow: hidden;
            width: 30%;
            padding-right: 2rem;
            h4 {
                width: 40%;
                text-align: center;
                margin-top: 2rem;
                margin-bottom: 1rem;
                border-bottom: 0.2rem solid #64f5f5;
                line-height: 2rem;
                color: white;
            }
            img {
                width: 8rem;
                float: left;
            }
            p {
                color: white;
            }
            .fa {
                float: left;
                width: 2rem;
                text-align: center;
                font-size: 2rem;
            }
            &:nth-child(1) {
            }
            &:nth-child(2) {
                .connect {
                    float: left;
                }
            }
        }
        .qrcode {
            img {
                height: 8rem;
                width: 8rem;
            }
            div div {
                padding-left: 9rem;
            }
        }
    }
}

.footer {
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    background: #1d1d1d;
    color: white;
}
