@import url('./var.less');
@import url('./header.less');
@import url('./footer.less');
html {
    font-size: @bodyFontSize;
    // font-size: 12px;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-size: @normalFontSize;
    font-family: "Artial", "Microsoft Yahei", "微软雅黑";
    a {
        font-size: @normalFontSize;
    }
}

ul,
ol {
    padding: 0;
    margin: 0;
}

.container-fluid {
    height: 100%;
    width: 100%;
}

.main {
    height: auto;
    padding-top: @headerHeight;
}

.row {
    margin: 0 -15px;
}

.wrap {
    width: @wrapWidth;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.section {
    padding: 2rem 0;
}

.active {
    display: block;
}

// 页面标题
.page_title {
    padding: 2rem 0;
    header {
        text-align: center;
        height: 1rem;
        border-bottom: 1px solid #09dada;
        padding-bottom: 2.7rem;
        margin-bottom: 2rem;
        h3 {
            line-height: 1;
            color: #030303;
            position: relative;
            // border-bottom: 1px solid #09dada;
            &.cn {
                font-size: 1.4rem;
            }
            &.en {
                margin: 0;
                line-height: 2;
                // position: relative;
                // width: 12rem;
                display: inline-block;
                padding: 0 2rem;
                background: white;
                // left: 0;
                // right: 0;
                // margin-left: auto;
                // margin-right: auto;
                font-size: 0.8rem;
                color: #09dada;
            }
        }
        &:after {
            content: '';
            display: block;
            margin: 0 auto;
            padding-top: 1rem;
            width: 2rem;
            border-bottom: 4px solid #09dada;
        }
    }
}

// 文章标题
.article_title {
    border-right: 1rem solid red;
    header {
        padding: 0 1rem;
        border-bottom: 1px solid #ccc;
        h4 {
            padding-left: 1rem;
        }
    }
}

// 段落标题
.paragraph_title {
    header {
        h5 {}
    }
}
