<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <base href="__PUBLIC__/Admin/index">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/style.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/libs/wangeditor/css/wangEditor.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/libs/remodal/remodal.min.js"> -->
    <!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/libs/remodal/remodal-default-theme.css"> -->
    <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body class="container-fluid">
    <div class="row" ui-view id="page">
        <div class="loading">
            <span class="fa fa-spinner fa-pulse fa-3x fa-fw"></span>
            <p>加载中</p>
        </div>
    </div>
    <script src="//cdn.bootcss.com/require.js/2.1.22/require.js" data-main="__PUBLIC__/Admin/main.js"></script>
</body>

</html>
