<include file="public/header" name="服务导航" title="service" />
<div class="main row">
    <div class="bg">
        <div class="wrap">
            <ul class="list-unstyled">
                <foreach name="service" item="vo">
                <li>
                    <a href="{:U('Home/service/lists',array('serviceId'=>$vo['id']))}">
                        <span class="fa fa-car icon"></span>
                        <span class="title">{$vo['title']}</span>
                        <img src="__PUBLIC__/Home/service/pic/service_nav_1_img.jpg">
                    </a>
                </li>
                    </foreach>>
            </ul>
        </div>
    </div>
</div>
<include file="public/footer" />
