<include file="Public/header" name="service_list" title="服务列表" />
<div class="main row">
    <include file="public/breadcrumb" />
    <foreach name="serviceList" item="result">
        <if condition="$result['id']==$serviceId">
            <div class="info wrap active">
        <else/>
            <div class="info wrap">
        </if>
        <header>
            <div>
                <img src="__ROOT__/{$result['logo']}">
            </div>
            <div>
                <h3>{$result['title']}</h3>
                <p>{$result['description']}</p>
            </div>
        </header>
        <div>
            <ul class="list-unstyled">
                <foreach name="result['sortList']" item="sortList">
                    <li>
                        <a href="{:U('Home/service/info',array('serviceId'=>$sortList['id']))}">
                            <img src="__ROOT__/{$result['logo']}">
                            <h4>{$sortList['title']}</h4>
                            <p>{$sortList['description']}</p>
                        </a>
                    </li>
                </foreach>>
            </ul>
        </div>
        </div>
    </foreach>
</div>
<include file="Public/footer" />
