<include file="Public/header" name="service_list" title="服务列表" />
<div class="main">
        <div class="info wrap">
            <header>
                <div class="photo">
                    <img src="__ROOT__/{$service['photo']}">
                </div>
                <div class="des">
                    <h3>{$service['title']}</h3>
                    <p>{$service['description']}</p>
                </div>
            </header>
            <div>
                <ul class="list-unstyled">
                    <foreach name="serviceList" item="sortList">
                        <li>
                            <div class="card">
                                <h4 class="ellipsis_one_line">
                                    <a href="{:U('Home/service/info',array('serviceId'=>$sortList['id']))}" class="ellipsis_one_line">{$sortList['title']}</a>
                                </h4>
                                <div class="des">
                                    <p class="description">{$sortList['short_desc']|subRep}</p>
                                    <a href="{:U('Home/service/info',array('serviceId'=>$sortList['id']))}" class="more">查看详情</a>
                                </div>
                            </div>
                        </li>
                    </foreach>
                </ul>
            </div>
        </div>
</div>
<include file="Public/footer" />
