<include file="public/header" name="service_list" title="服务列表" />
<div class="main row">
    <header class="header_nav">
        <ul class="wrap">
            <li>项目分类：</li>
            <li class="active"><a href="#">基因组学技术服务</a></li>
            <li><a href="#">细胞学技术服务</a></li>
            <li><a href="#">蛋白质组学技术服务</a></li>
            <li><a href="#">生物信息服务</a></li>
        </ul>
    </header>
    <div class="info wrap active">
        <header>
            <div>
                <img src="./pic/service_header_img.jpg">
            </div>
            <div>
                <h3>基因组学技术服务</h3>
                <p>时代 是对方就会i方式就 多少分偶奇偶都是电视 刀锋磨豆腐偶尔去痛没发过二动感儿童十多个了 规范规范为规范为我而发给我儿童认为规范</p>
            </div>
        </header>
        <div>
            <ul class="list-unstyled">
                <li>
                    <a href="#">
                        <img src="./pic/service_list_img.jpg">
                        <h4>蛋白质服务项目</h4>
                        <p>ST浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化速率的检测就可以得 出被测标本中ALT/AST浓度。。 经过内处理器的处</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/service_list_img.jpg">
                        <h4>蛋白质服务项目</h4>
                        <p>ST浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化速率的检测就可以得 出被测标本中ALT/AST浓度。。 经过内处理器的处</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/service_list_img.jpg">
                        <h4>蛋白质服务项目</h4>
                        <p>ST浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化速率的检测就可以得 出被测标本中ALT/AST浓度。。 经过内处理器的处</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/service_list_img.jpg">
                        <h4>蛋白质服务项目</h4>
                        <p>ST浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化速率的检测就可以得 出被测标本中ALT/AST浓度。。 经过内处理器的处</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/service_list_img.jpg">
                        <h4>蛋白质服务项目</h4>
                        <p>ST浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化速率的检测就可以得 出被测标本中ALT/AST浓度。。 经过内处理器的处</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/service_list_img.jpg">
                        <h4>蛋白质服务项目</h4>
                        <p>ST浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化速率的检测就可以得 出被测标本中ALT/AST浓度。。 经过内处理器的处</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="info wrap">
        <header>
            <div>
                <img src="./pic/service_header_img.jpg">
            </div>
            <div>
                <h3>细胞学技术服务</h3>
                <p>时代 是对方就会i方式就 多少分偶奇偶都是电视 刀锋磨豆腐偶尔去痛没发过二动感儿童十多个了 规范规范为规范为我而发给我儿童认为规范</p>
            </div>
        </header>
        <div>
            <ul class="list-unstyled">
                <li>
                    <a href="#">
                        <img src="./pic/service_list_img.jpg">
                        <h4>蛋白质服务项目</h4>
                        <p>ST浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化速率的检测就可以得 出被测标本中ALT/AST浓度。。 经过内处理器的处</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/service_list_img.jpg">
                        <h4>蛋白质服务项目</h4>
                        <p>ST浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化速率的检测就可以得 出被测标本中ALT/AST浓度。。 经过内处理器的处</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/service_list_img.jpg">
                        <h4>蛋白质服务项目</h4>
                        <p>ST浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化速率的检测就可以得 出被测标本中ALT/AST浓度。。 经过内处理器的处</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/service_list_img.jpg">
                        <h4>蛋白质服务项目</h4>
                        <p>ST浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化速率的检测就可以得 出被测标本中ALT/AST浓度。。 经过内处理器的处</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/service_list_img.jpg">
                        <h4>蛋白质服务项目</h4>
                        <p>ST浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化速率的检测就可以得 出被测标本中ALT/AST浓度。。 经过内处理器的处</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/service_list_img.jpg">
                        <h4>蛋白质服务项目</h4>
                        <p>ST浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化速率的检测就可以得 出被测标本中ALT/AST浓度。。 经过内处理器的处</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="info wrap">
        <header>
            <div>
                <img src="./pic/service_header_img.jpg">
            </div>
            <div>
                <h3>蛋白质组学技术服务</h3>
                <p>时代 是对方就会i方式就 多少分偶奇偶都是电视 刀锋磨豆腐偶尔去痛没发过二动感儿童十多个了 规范规范为规范为我而发给我儿童认为规范</p>
            </div>
        </header>
        <div>
            <ul class="list-unstyled">
                <li>
                    <a href="#">
                        <img src="./pic/service_list_img.jpg">
                        <h4>蛋白质服务项目</h4>
                        <p>ST浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化速率的检测就可以得 出被测标本中ALT/AST浓度。。 经过内处理器的处</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/service_list_img.jpg">
                        <h4>蛋白质服务项目</h4>
                        <p>ST浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化速率的检测就可以得 出被测标本中ALT/AST浓度。。 经过内处理器的处</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/service_list_img.jpg">
                        <h4>蛋白质服务项目</h4>
                        <p>ST浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化速率的检测就可以得 出被测标本中ALT/AST浓度。。 经过内处理器的处</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/service_list_img.jpg">
                        <h4>蛋白质服务项目</h4>
                        <p>ST浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化速率的检测就可以得 出被测标本中ALT/AST浓度。。 经过内处理器的处</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/service_list_img.jpg">
                        <h4>蛋白质服务项目</h4>
                        <p>ST浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化速率的检测就可以得 出被测标本中ALT/AST浓度。。 经过内处理器的处</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/service_list_img.jpg">
                        <h4>蛋白质服务项目</h4>
                        <p>ST浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化速率的检测就可以得 出被测标本中ALT/AST浓度。。 经过内处理器的处</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="info wrap">
        <header>
            <div>
                <img src="./pic/service_header_img.jpg">
            </div>
            <div>
                <h3>生物信息数据分析服务</h3>
                <p>时代 是对方就会i方式就 多少分偶奇偶都是电视 刀锋磨豆腐偶尔去痛没发过二动感儿童十多个了 规范规范为规范为我而发给我儿童认为规范</p>
            </div>
        </header>
        <div>
            <ul class="list-unstyled">
                <li>
                    <a href="#">
                        <img src="./pic/service_list_img.jpg">
                        <h4>蛋白质服务项目</h4>
                        <p>ST浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化速率的检测就可以得 出被测标本中ALT/AST浓度。。 经过内处理器的处</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/service_list_img.jpg">
                        <h4>蛋白质服务项目</h4>
                        <p>ST浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化速率的检测就可以得 出被测标本中ALT/AST浓度。。 经过内处理器的处</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/service_list_img.jpg">
                        <h4>蛋白质服务项目</h4>
                        <p>ST浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化速率的检测就可以得 出被测标本中ALT/AST浓度。。 经过内处理器的处</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/service_list_img.jpg">
                        <h4>蛋白质服务项目</h4>
                        <p>ST浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化速率的检测就可以得 出被测标本中ALT/AST浓度。。 经过内处理器的处</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/service_list_img.jpg">
                        <h4>蛋白质服务项目</h4>
                        <p>ST浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化速率的检测就可以得 出被测标本中ALT/AST浓度。。 经过内处理器的处</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/service_list_img.jpg">
                        <h4>蛋白质服务项目</h4>
                        <p>ST浓度的被测标本在试剂条上具 有不同的反应速度，从而表现不 同的颜色变化速率。因此，通过 对颜色变化速率的检测就可以得 出被测标本中ALT/AST浓度。。 经过内处理器的处</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<include file="public/footer" />
