<include file="Public/header" title="佰昊生物实验平台展示" name="laboratory" keywords="佰昊生物实验室 辽宁省免疫生物公共技术服务平台 基因组学实验室 蛋白组学实验室 标准万级无菌细胞实验室" description="佰昊生物成立于2015年，总部位于辽宁省中国药都创新产业园，一期占地面积3000多平方米。建设了1200多平米符合国际，国内标准的基因组学实验室,蛋白组学实验室，标准万级无菌细胞实验室，实验室可同时容纳100人共同进行操作实验。"/>
<div class="main row">
    <div class="page_title">
        <header>
            <h3 class="cn">实验室展示</h3>
            <h3 class="en">Laboratory Display</h3>
        </header>
    </div>
    <div class="wrap">
        <div class="list">
            <!-- 第一列 -->
            <ul class="list-unstyled">
                <foreach name="labs" item="vo" key="key">
                    <if condition="($key lt 12) AND ($key % 3 == 0)">
                        <li data-listindex="{$key}">
                            <a href="#">
                                <img src="__ROOT__/{$vo['photo']}">
                                <h6 class="ellipsis_one_line"><span>{$vo['name']}</span></h6>
                            </a>
                        </li>
                    </if>
                </foreach>
            </ul>
            <!-- 第二列 -->
            <ul class="list-unstyled">
                <foreach name="labs" item="vo" key="key">
                    <if condition="($key lt 12) AND ($key % 3 == 1)">
                        <li data-listindex="{$key}">
                            <a href="#">
                                <img src="__ROOT__/{$vo['photo']}">
                                <h6 class="ellipsis_one_line"><span>{$vo['name']}</span></h6>
                            </a>
                        </li>
                    </if>
                </foreach>
            </ul>
            <!-- 第三列 -->
            <ul class="list-unstyled">
                <foreach name="labs" item="vo" key="key">
                    <if condition="($key lt 12) AND ($key % 3 == 2)">
                        <li data-listindex="{$key}">
                            <a href="#">
                                <img src="__ROOT__/{$vo['photo']}">
                                <h6 class="ellipsis_one_line"><span>{$vo['name']}</span></h6>
                            </a>
                        </li>
                    </if>
                </foreach>
            </ul>
        </div>
    </div>
    <div class="loading wrap">
        <p>加载中</p>
    </div>
    <div class="detail">
        <div class="cont">
            <div class="photos">
                <ul></ul>
                <div class="feabtn">
                    <a href="#" class="prev hide">上一张</a>
                    <a href="#" class="next">下一张</a>
                </div>
            </div>
            <div class="info">
                <h4 class="name"></h4>
                <p class="description"></p>
            </div>
            <span class="fa fa-close"></span>
        </div>
    </div>
</div>
<include file="Public/footer" name="laboratory" />
