<include file="Public/header" title="实验室展示" name="laboratory" />
<div class="main row">
    <div class="page_title">
        <header>
            <h3 class="cn">实验室展示</h3>
            <h3 class="en">Laboratory Display</h3>
        </header>
    </div>
    <div class="wrap">
        <div class="list">
            <!-- 第一列 -->
            <ul class="list-unstyled">
                <foreach name="labs" item="vo" key="key">
                    <if condition="($key lt 12) AND ($key % 3 == 0)">
                        <li data-listindex="{$key}">
                            <a href="#">
                                <img src="__ROOT__/{$vo['photo']}">
                                <h6 class="ellipsis_one_line"><span>{$vo['name']}</span></h6>
                            </a>
                        </li>
                    </if>
                </foreach>
            </ul>
            <!-- 第二列 -->
            <ul class="list-unstyled">
                <foreach name="labs" item="vo" key="key">
                    <if condition="($key lt 12) AND ($key % 3 == 1)">
                        <li data-listindex="{$key}">
                            <a href="#">
                                <img src="__ROOT__/{$vo['photo']}">
                                <h6 class="ellipsis_one_line"><span>{$vo['name']}</span></h6>
                            </a>
                        </li>
                    </if>
                </foreach>
            </ul>
            <!-- 第三列 -->
            <ul class="list-unstyled">
                <foreach name="labs" item="vo" key="key">
                    <if condition="($key lt 12) AND ($key % 3 == 2)">
                        <li data-listindex="{$key}">
                            <a href="#">
                                <img src="__ROOT__/{$vo['photo']}">
                                <h6 class="ellipsis_one_line"><span>{$vo['name']}</span></h6>
                            </a>
                        </li>
                    </if>
                </foreach>
            </ul>
        </div>
    </div>
    <div class="loading wrap">
        <p>加载中</p>
    </div>
    <div class="detail">
        <div class="cont">
            <div class="photos">
                <ul></ul>
                <div class="feabtn">
                    <a href="#" class="prev">上一张</a>
                    <a href="#" class="next">下一张</a>
                </div>
            </div>
            <div class="info">
                <h4 class="name"></h4>
                <p class="description"></p>
            </div>
            <span class="fa fa-close"></span>
        </div>
    </div>
</div>
<include file="Public/footer" name="laboratory" />
