<include file="public/header" title="实验室展示" name="laboratory" />
<div class="main row">
    <div class="wrap">
        <div class="list">
            <ul class="column-left list-unstyled">
                <li>
                    <a href="#">
                        <img src="./pic/activity_img.jpg">
                        <h6>啥子实验</h6>
                        <p>这是一张图片的Demo,据说要弄成瀑布流</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/sales_list_1_img.jpg">
                        <h6>啥子实验</h6>
                        <p>这是一张图片的Demo,据说要弄成瀑布流</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/news_img.jpg">
                        <h6>啥子实验</h6>
                        <p>这是一张图片的Demo,据说要弄成瀑布流</p>
                    </a>
                </li>
            </ul>
            <ul class="column-center list-unstyled">
                <li>
                    <a href="#">
                        <img src="./pic/laboratory_list_1_img.jpg">
                        <h6>啥子实验</h6>
                        <p>这是一张图片的Demo,据说要弄成瀑布流</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/news_img.jpg">
                        <h6>啥子实验</h6>
                        <p>这是一张图片的Demo,据说要弄成瀑布流</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/sales_list_4_img.jpg">
                        <h6>啥子实验</h6>
                        <p>这是一张图片的Demo,据说要弄成瀑布流</p>
                    </a>
                </li>
            </ul>
            <ul class="column-right list-unstyled">
                <li>
                    <a href="#">
                        <img src="./pic/laboratory_list_3_img.jpg">
                        <h6>啥子实验</h6>
                        <p>这是一张图片的Demo,据说要弄成瀑布流</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/sales_list_4_img.jpg">
                        <h6>啥子实验</h6>
                        <p>这是一张图片的Demo,据说要弄成瀑布流</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./pic/sales_list_4_img.jpg">
                        <h6>啥子实验</h6>
                        <p>这是一张图片的Demo,据说要弄成瀑布流</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<include file="public/footer" />
