<include file="public/header" title="实验室展示" name="laboratory" />
<div class="main row">
    <div class="wrap">
        <div class="list">
            <ul class="column-left list-unstyled">
                <foreach name="labs" item="vo" key="key">
                <if condition="$key!=0&&$key%3==0">
                    </ul>
                    <ul class="column-left list-unstyled">
                    <li>
                    <a href="#">
                        <img src="__PUBLIC__/Home/laboratory/pic/activity_img.jpg">
                        <h6>{$vo['name']}</h6>
                        <p>{$vo['description']}</p>
                    </a>
                </li>
                <else/>
                    <li>
                    <a href="#">
                        <img src="__PUBLIC__/Home/laboratory/pic/activity_img.jpg">
                        <h6>{$vo['name']}</h6>
                        <p>{$vo['description']}</p>
                    </a>
                </li>
                </if>
                </foreach>
            </ul>
        </div>
    </div>
</div>
<include file="public/footer" />
