<include file="Public/header" title="实验室展示" name="laboratory" />
<div class="main row">
    <div class="page_title">
        <header>
            <h3 class="cn">实验室展示</h3>
            <h3 class="en">Laboratory Display</h3>
        </header>
    </div>
    <div class="wrap">
        <div class="list">
            <ul class="column-left list-unstyled">
                <foreach name="labs" item="vo" key="key">
                <if condition="$key==0">
                    <li>
                    <a href="#">
                        <img src="__ROOT__/{$vo['photo']}">
                        <h6 class="ellipsis_one_line"><span>{$vo['name']}</span></h6>
                    </a>
                </li>
                <elseif condition="$key%4==2"/>
                    <li>
                    <a href="#">
                        <img src="__ROOT__/{$vo['photo']}">
                        <h6 class="ellipsis_one_line"><span>{$vo['name']}</span></h6>
                    </a>
                </li>
                <else/>
                    </ul>
                    <ul class="column-left list-unstyled">
                    <li>
                    <a href="#">
                        <img src="__ROOT__/{$vo['photo']}">
                        <h6 class="ellipsis_one_line"><span>{$vo['name']}</span></h6>
                    </a>
                </li>
                </if>
                </foreach>
            </ul>
        </div>
    </div>
</div>
<include file="Public/footer" />
