<div class="siteInfo row">
    <div class="wrap">
        <ul class="list-unstyled">
            <li>
                <h4>公司地址</h4>
                <p class="address">
                    <span class="fa fa-map-marker"></span>
                    <span class="value">辽宁省本溪市溪湖区高新技术开发区中国药都创新园B1-2区</span>
                </p>
                <p class="tel">
                    <span class="fa fa-phone"></span>
                    <span class="value">024-8721-4321</span>
                </p>
            </li>
            <li>
                <h4>联系方式</h4>
                <div class="connect">
                    <p class="name"><span class="title">人事资源经理</span><span class="value">林冰</span></p>
                    <p class="tel"><span class="title">电话：</span><span class="value">123435531541</span></p>
                    <p class="email"><span class="title">邮箱：</span><span class="value">123435531541@qq.com</span></p>
                </div>
                <div class="connect">
                    <p class="name"><span class="title">人事资源经理</span><span class="value">林冰</span></p>
                    <p class="tel"><span class="title">电话：</span><span class="value">123435531541</span></p>
                    <p class="email"><span class="title">邮箱：</span><span class="value">123435531541@qq.com</span></p>
                </div>
            </li>
            <li>
                <h4>微信公众号</h4>
                <div>
                    <img src="__PUBLIC__/Uploads/pics/qrcode.jpg">
                    <p>技术前沿 实验精粹 服务促销 更多精彩 尽在佰昊微信公众号</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<footer class="footer row">
    <span>佰昊生物科技有限公司</span>
    <span>版权所有</span>
    <span>c2010-2016</span>
    <span>辽ICP备 432454号</span>
</footer>
</div>
<script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/public/js/public.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/{$root}/js/{$root}.js"></script>
</body>

</html>
