.main > header {
  background: url('../../public/background/special_list_header_bg.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}
.main > header .color {
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
}
.main > header .color .wrap {
  padding: 3rem 0 3rem 20%;
}
.main > header .color .wrap div {
  text-align: left;
  width: 50%;
  color: white;
  padding: 2rem 0;
}
.main > header .color .wrap div h2 {
  border-bottom: 4px solid white;
  line-height: 1;
  padding-bottom: 0.8rem;
}
.main > header .color .wrap div h2 .en {
  font-size: 0.9rem;
  vertical-align: bottom;
}
.main > header .color .wrap div h2 .cn {
  vertical-align: bottom;
}
.main > header .color .wrap div p {
  line-height: 2;
}
.main > nav {
  background: #11c7c7;
  overflow: hidden;
}
.main > nav ul {
  padding: 0.5rem 0;
  overflow: hidden;
}
.main > nav ul li {
  float: left;
  width: 25%;
  border-left: 2px solid white;
}
.main > nav ul li:first-child {
  border: none;
}
.main > nav ul li a {
  font-size: 0.8rem;
  line-height: 2;
  display: block;
  color: white;
  text-align: center;
}
.main .list {
  padding: 2rem 0;
}
.main .list header {
  border-bottom: 1px solid #adacac;
  padding: 0.4rem 0;
}
.main .list header h4 {
  border-left: 6px solid #11c7c7;
  padding-left: 1rem;
  margin-left: 1rem;
}
.main .list ul {
  overflow: hidden;
}
.main .list ul li {
  float: left;
  width: 33%;
  padding: 4rem 0;
}
.main .list ul li a {
  display: block;
  overflow: hidden;
  text-align: center;
  color: #2a2a2a;
}
.main .list ul li a img {
  display: inline-block;
  width: 80%;
}
.main .list ul li a h5 {
  display: inline-block;
  width: 80%;
  text-align: left;
  font-size: 1rem;
  line-height: 2;
}
.main .list ul li a p {
  line-height: 2;
  display: inline-block;
  width: 80%;
  text-align: left;
}
