<include file="Public/header" name="special_list" title="特殊服务列表" />
<div class="main">
    <header class="row">
        <div class="color">
            <div class="wrap">
                <div>
                    <h2>
                        <span class="cn">特殊项目</span>
                        <span class="en">Special Items</span>
                    </h2>
                    <p>
                        特殊项目是佰昊生物科技电视会玩儿方式刀锋去微店电 刀锋人人 规范 服务特浮动去玩儿规范的父亲规范规范 规范锐特一条计划。。。
                    </p>
                </div>
            </div>
        </div>
    </header>
    <!--     <nav>
        <ul class="wrap list-unstyled">
            <foreach name="service" item="vo">
            <li><a href="#">{$vo['title']}</a></li>
            </foreach>
        </ul>
    </nav> -->
    <include file="public/breadcrumb" />
    
    <div class="wrap catList">
        <nav class="cat">
            <ul>
                <!-- <li class="active"><a href="#">基因组学</a></li>
                <li><a href="#">细胞学</a></li>
                <li><a href="#">蛋白质组学</a></li> -->
                <foreach name="service" item="vo" key="key">
                    <if condition="$key==0">
                        <li class="active"><a href="#">{$vo['title']}</a></li>
                    <else/>
                        <li><a href="#">{$vo['title']}</a></li>
                    </if>
                </foreach>
            </ul>
        </nav>
        <foreach name="serviceList" item="serviceSort">
        <div class="list">
            <div class="article_title">
                <header>
                    <h4>{$serviceSort['title']}</h4>
                </header>
            </div>
            <ul class="list-unstyled">
                <foreach name="serviceSort['sortList']" item="service">
                <li>
                    <a href="{:U('Home/special/info',array('serviceId'=>$service['id']))}">
                        <img src="__ROOT__/{$service['logo']}">
                        <h5 class="title">{$service['title']}</h5>
                        <p class="ellipsis_more_line">{$service['description']}</p>
                    </a>
                </li>
                </foreach>
            </ul>
        </div>
        </foreach>
    </div>
</div>
<include file="Public/footer" name="special_list"/>
