<include file="Public/header" name="special_info" title="特殊服务详情" />
<div class="main">
    <include file="public/breadcrumb" />
    <article class="wrap">
        <div class="article_title">
            <header>
                <h4>项目简介</h4>
            </header>
        </div>
        <p>{$serviceInfo['description']}
        </p>
    </article>
    <article class="wrap">
        <div class="article_title">
            <header>
                <h4>实验原理</h4>
            </header>
        </div>
        <p>
            {$serviceInfo['experiment_flow']}
        </p>
    </article>
    <article class="wrap">
        <div class="article_title">
            <header>
                <h4>用户须知</h4>
            </header>
        </div>
        <p>{$serviceInfo['user_notice']}
        </p>
    </article>
    <article class="wrap">
        <div class="article_title">
            <header>
                <h4>结果展示</h4>
            </header>
        </div>
        <p>{$serviceInfo['result_show']}
        </p>
    </article>
    <article class="wrap">
        <div class="article_title">
            <header>
                <h4>服务周期</h4>
            </header>
        </div>
        <p>{$serviceInfo['server_circle']}
        </p>
    </article>
</div>
<include file="Public/footer" />
