<include file="Public/header" name="special_info" title="特殊服务详情" />
<div class="main">
    <include file="Public/breadcrumb" />
    <h3 class="wrap">{$serviceInfo['title']}</h3>
    <if condition="$serviceInfo['description']">
        <article class="wrap">
            <h6 class="paragraph_title">项目简介</h6>
            <p>{$serviceInfo['description']}
            </p>
        </article>
    </if>
    <if condition="$serviceInfo['experiment_theory']">
        <article class="wrap">
            <h6 class="paragraph_title">实验原理</h6>
            <p>
                {$serviceInfo['experiment_theory']}
            </p>
        </article>
    </if>
    <if condition="$serviceInfo['advantage']">
        <article class="wrap">
            <h6 class="paragraph_title">项目优势</h6>
            <p>{$serviceInfo['advantage']}
            </p>
        </article>
    </if>
    <if condition="$serviceInfo['experiment_flow']">
        <article class="wrap">
            <h6 class="paragraph_title">实验流程</h6>
            <p>{$serviceInfo['experiment_flow']}
            </p>
        </article>
    </if>
    <if condition="$serviceInfo['user_notice']">
        <article class="wrap">
            <h6 class="paragraph_title">客户须知</h6>
            <p>{$serviceInfo['user_notice']}
            </p>
        </article>
    </if>
    <if condition="$serviceInfo['result_show']">
        <article class="wrap">
            <h6 class="paragraph_title">结果展示</h6>
            <p>{$serviceInfo['result_show']}
            </p>
        </article>
    </if>
    <if condition="$serviceInfo['server_circle']">
        <article class="wrap">
            <h6 class="paragraph_title">服务周期</h6>
            <p>{$serviceInfo['server_circle']}
            </p>
        </article>
    </if>
    <if condition="$serviceInfo['literature']">
        <article class="wrap">
            <h6 class="paragraph_title">参考文献</h6>
            <p>{$serviceInfo['literature']}
            </p>
        </article>
    </if>
</div>
<include file="Public/footer" />
