<include file="Public/header" name="special_info" title="特殊服务详情"/>
<div class="main">
    <include file="public/breadcrumb" />
    <if condition="$serviceInfo['description']">
    <article class="wrap">
        <div class="article_title">
            <header>
                <h4>项目简介</h4>
            </header>
        </div>
        <p>{$serviceInfo['description']}
        </p>
    </article>
    </if>
    <if condition="$serviceInfo['experiment_theory']">
    <article class="wrap">
        <div class="article_title">
            <header>
                <h4>实验原理</h4>
            </header>
        </div>
        <p>
            {$serviceInfo['experiment_theory']}
        </p>
    </article>
    </if>
    <if condition="$serviceInfo['advantage']">
    <article class="wrap">
        <div class="article_title">
            <header>
                <h4>项目优势</h4>
            </header>
        </div>
        <p>{$serviceInfo['advantage']}
        </p>
    </article>
    </if>
    <if condition="$serviceInfo['experiment_flow']">
    <article class="wrap">
        <div class="article_title">
            <header>
                <h4>实验流程</h4>
            </header>
        </div>
        <p>{$serviceInfo['experiment_flow']}
        </p>
    </article>
    </if>
    <if condition="$serviceInfo['user_notice']">
    <article class="wrap">
        <div class="article_title">
            <header>
                <h4>客户须知</h4>
            </header>
        </div>
        <p>{$serviceInfo['user_notice']}
        </p>
    </article>
    </if>
    <if condition="$serviceInfo['result_show']">
    <article class="wrap">
        <div class="article_title">
            <header>
                <h4>结果展示</h4>
            </header>
        </div>
        <p>{$serviceInfo['result_show']}
        </p>
    </article>
    </if>
    <if condition="$serviceInfo['server_circle']">
    <article class="wrap">
        <div class="article_title">
            <header>
                <h4>服务周期</h4>
            </header>
        </div>
        <p>{$serviceInfo['server_circle']}
        </p>
    </article>
    </if>
    <if condition="$serviceInfo['literature']">
    <article class="wrap">
        <div class="article_title">
            <header>
                <h4>参考文献</h4>
            </header>
        </div>
        <p>{$serviceInfo['literature']}
        </p>
    </article>
    </if>
</div>
<include file="Public/footer" />
