<include file="public/header" name="special_info" title="特殊服务详情" />
        <div class="main row">
            <header class="wrap">
                <ul class="list-unstyled">
                    <li><a href="#">特殊项目</a></li>
                    <li><a href="#">特殊项目列表</a></li>
                    <li><a href="#">特殊项目详情</a></li>
                </ul>
            </header>
            <article class="wrap">
                <header>
                    <h3>项目简介</h3>
                </header>
                <p>SLAF-seq（Specific-Locus Amplified Fragment Sequencing）是我公司自主研发的一套简化基因组测序技术. SLAF技术以其 有效reads长、通量高、方案设计灵活等特点代表了简化基因组测序上的一次革命，带来了2 x 125 bp的有效基因组读长，提供 前所未有的酶切方案定制服务，并可一次开发高达10万个标签，获取全基因组范围内最完整的变异图像（SNPs、InDels），让 研究者可以选择最具信息量和可靠的多态标记，以实现重要农艺性状功能基因定位的卓越能力
                </p>
            </article>
            <article class="wrap">
                <header>
                    <h3>实验原理</h3>
                    <p>
                        
                    </p>
                </header>
            </article>
            <article class="wrap">
                <header>
                    <h3>用户须知</h3>
                </header>
                <p>小RNA是一类长度在20-30nt的RNA分子，主要包括miRNA、siRNA和piRNA等，参与调控基因表达、生长发育、非生物胁迫和 病原菌的侵害等过程。小RNA测序是基于Illumina HiSeq2500测序平台对目标物种小RNA进行大规模测序分析，能够快速全面地 鉴定该物种在特定状态下的小RNA和发现新的小RNA，并预测其靶基因。小RNA测序为研究小RNA的种类、结构和 功能及此物种的基因调控机制提供了有力工具。
                </p>
            </article>
            <article class="wrap">
                <header>
                    <h3>结果展示</h3>
                </header>
                <p>小RNA是一类长度在20-30nt的RNA分子，主要包括miRNA、siRNA和piRNA等，参与调控基因表达、生长发育、非生物胁迫和 病原菌的侵害等过程。小RNA测序是基于Illumina HiSeq2500测序平台对目标物种小RNA进行大规模测序分析，能够快速全面地 鉴定该物种在特定状态下的小RNA和发现新的小RNA，并预测其靶基因。小RNA测序为研究小RNA的种类、结构和功能及此物种 的基因调控机制提供了有力工具。
                </p>
            </article>
            <article class="wrap">
                <header>
                    <h3>服务周期</h3>
                </header>
                <p>小RNA是一类长度在20-30nt的RNA分子，主要包括miRNA、siRNA和piRNA等，参与调控基因表达、生长发育、非生物胁迫和 病原菌的侵害等过程。小RNA测序是基于Illumina HiSeq2500测序平台对目标物种小RNA进行大规模测序分析，能够快速全面地 鉴定该物种在特定状态下的小RNA和发现新的小RNA，并预测其靶基因。小RNA测序为研究小RNA的种类、结构和功能及此物种 的基因调控机制提供了有力工具。
                </p>
            </article>
        </div>
<include file="public/footer" />