.main {
    .pageHeader {
        height: 20rem;
        background: url('../../public/background/jobs_header_img.jpg');
        background-size: cover;
        background-position: center middle;
        .bgcolor {
            background: rgba(42, 42, 42, 0.4);
            height: 100%;
            width: 100%;
            margin-top: -0.5rem;
        }
        h5 {
            text-align: center;
            color: white;
            font-size: 2rem;
            &.cn {
                padding-top: 6rem;
            }
            &.en {
                line-height: 2;
                font-size: 1.4rem;
            }
        }
    }
    .concept {
        img {
            float: left;
            height: 15rem;
            padding-right: 2rem;
        }
        p {
            font-size: 0.8rem;
            line-height: 2;
        }
    }
    .jobList {
        .info {
            width: 90%;
            margin: 0 auto;
        }
        .laboratory {
            padding-bottom: 1rem;
            padding-top: 1rem;
            border-bottom: 1px solid #a1a0a0;
            h3 {
                margin-top: 0;
                color: #09dada;
                line-height: 2;
            }
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                border: none;
            }
        }
        .jobInfo {
            padding-bottom: 1rem;
            ol {
                margin-left: 2rem;
            }
        }
    }
}
