<extend name='index'/>
<block name='title'>
    <title>用户更新</title>
</block>
<block name='js'>
</block>
<block name="con">
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span>用户更新</span>
    </div>
    <div class="mws-panel-body no-padding">
        <form action="{:U('Admin/User/update')}" class="mws-form" method="post" enctype="multipart/form-data">
             <div class="mws-form-inline">
                <div class="mws-form-row">
                    <label class="mws-form-label">email</label>
                    <div class="mws-form-item">
                        <input type="text" class="small" name="email" id="email" value="{$data['email']}"><span style="color:red" id="check_email"> *</span>
                    </div>
                </div>
                 
                <input type="hidden" name="password" value="{$data['password']}">
                <input type="hidden" name="id" value="{$data['id']}">
               
                <div class="mws-form-row">
                    <label class="mws-form-label">昵称</label>
                    <div class="mws-form-item">
                        <input type="text" class="small" id="name" name="name" value="{$data['name']}"><span style="color:red" id="check_email"> *</span>
                    </div>
                </div>
                
                <div class="mws-form-row">
                    <label class="mws-form-label">生日</label>
                    <div class="mws-form-item">
                        <input type="text" name="birthDay" id="birthDay" value="{$data['birthDay']}"> <span style='color:#bbcf25' id="check_birth" >生日格式:19960204</span>
                    </div>
                </div>

                <div class="mws-form-row">
                    <label class="mws-form-label">省市</label>
                    <div class="mws-form-item">
                        <select id="pro">
                            <option selected="selected">--请选择--</option>
                        </select>
                        <input type="hidden" name="province" id="province" value="{$data['province']}">
                        <select id="city" name="city">
                            
                        </select>
                     </div>
                </div>

                <div class="mws-form-row">
                    <label class="mws-form-label">头像</label>
                    <div class="mws-form-item" style="width:59%">
                        <img src="__ROOT__/{$data['headPic']}" alt="" width="100">
                        <input type="file" name='upload'>
                        <span style='color:#bbcf25' id="check_birth" >上传头像须小于5M,否则图像上传不成功</span>
                    </div>
                </div>
    
                <div class="mws-form-row">
                    <label class="mws-form-label">性别</label>
                    <div class="mws-form-item clearfix">
                        <ul class="mws-form-list inline">
                            <li> <label><input type="radio" name="sex" value="0" <if condition="$data['sex']==0">checked="checked"</if>>女</label></li>
                            <li><label><input type="radio" name="sex" value="1" <if condition="$data['sex']==1">checked="checked"</if>> 男</label></li>
                            <li><label><input type="radio" name="sex" value="2" <if condition="$data['sex']==2">checked="checked"</if>> 保密</label></li>
                        </ul>
                    </div>
                </div>

                <div class="mws-form-row">
                    <label class="mws-form-label">状态</label>
                    <div class="mws-form-item clearfix">
                        <ul class="mws-form-list inline">
                            <li> <label><input type="radio" name="status" value="1" <if condition="$data['status']==1">checked="checked"</if>>启用</label></li>
                            <li><label><input type="radio" name="status" value="0" <if condition="$data['status']==0">checked="checked"</if>> 禁用</label></li>
                        </ul>
                    </div>
                </div>

                <div class="mws-form-row">
                    <label class="mws-form-label">角色</label>
                    <div class="mws-form-item">
                        <select class="small" name="auth">
                            <option value="0" <if condition="$data['auth']==0">selected="selected"</if>>普通用户</option>
                            <option value="1" <if condition="$data['auth']==1">selected="selected"</if>>会员</option>
                            <option value="2" <if condition="$data['auth']==2">selected="selected"</if>>管理员</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="mws-button-row">
                <input type="submit" class="btn btn-danger" value="更新">
                <input type="reset" class="btn " value="重置"> <span style="color:red" id="info"></span>
            </div>
        </form>
    </div>      
</div>
</block>
<block name="js">
    <script src="__PUBLIC__/Admin/js/libs/jquery-1.8.3.min.js"></script>
    <script src="__PUBLIC__/Admin/js/libs/jquery.mousewheel.min.js"></script>
    <script src="__PUBLIC__/Admin/js/libs/jquery.placeholder.min.js"></script>
    <script src="__PUBLIC__/Admin/custom-plugins/fileinput.js"></script>
    
    <!-- jQuery-UI Dependent Scripts -->
    <script src="__PUBLIC__/Admin/jui/js/jquery-ui-1.9.2.min.js"></script>
    <script src="__PUBLIC__/Admin/jui/jquery-ui.custom.min.js"></script>
    <script src="__PUBLIC__/Admin/jui/js/jquery.ui.touch-punch.js"></script>

    <!-- Plugin Scripts -->
    <script src="__PUBLIC__/Admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/Admin/js/libs/excanvas.min.js"></script>
    <![endif]-->
    <script src="__PUBLIC__/Admin/plugins/flot/jquery.flot.min.js"></script>
    <script src="__PUBLIC__/Admin/plugins/flot/plugins/jquery.flot.tooltip.min.js"></script>
    <script src="__PUBLIC__/Admin/plugins/flot/plugins/jquery.flot.pie.min.js"></script>
    <script src="__PUBLIC__/Admin/plugins/flot/plugins/jquery.flot.stack.min.js"></script>
    <script src="__PUBLIC__/Admin/plugins/flot/plugins/jquery.flot.resize.min.js"></script>
    <script src="__PUBLIC__/Admin/plugins/colorpicker/colorpicker-min.js"></script>
    <script src="__PUBLIC__/Admin/plugins/validate/jquery.validate-min.js"></script>
    <script src="__PUBLIC__/Admin/custom-plugins/wizard/wizard.min.js"></script>

    <!-- Core Script -->
    <script src="__PUBLIC__/Admin/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/js/core/mws.js"></script>

    <!-- Themer Script (Remove if not needed) -->
    <script src="__PUBLIC__/Admin/js/core/themer.js"></script>

    <!-- Demo Scripts (remove if not needed) -->
    <script src="__PUBLIC__/Admin/js/demo/demo.dashboard.js"></script>

<script type="text/javascript">
var x=[];
x[1]="北京,东城,西城,崇文,宣武,朝阳,丰台,石景山,海淀,门头沟,房山,通州,顺义,昌平,大兴,平谷,怀柔,密云,延庆";  
x[2]="上海,黄浦,卢湾,徐汇,长宁,静安,普陀,闸北,虹口,杨浦,闵行,宝山,嘉定,浦东,金山,松江,青浦,南汇,奉贤,崇明";  
x[3]="天津,和平,东丽,河东,西青,河西,津南,南开,北辰,河北,武清,红挢,塘沽,汉沽,大港,宁河,静海,宝坻,蓟县,大邱庄";  
x[4]="重庆,万州,涪陵,渝中,大渡口,江北,沙坪坝,九龙坡,南岸,北碚,万盛,双挢,渝北,巴南,黔江,长寿,綦江,潼南,铜梁,大足,荣昌,壁山,梁平,城口,丰都,垫江,武隆,忠县,开县,云阳,奉节,巫山,巫溪,石柱,秀山,酉阳,彭水,江津,合川,永川,南川";  
x[5]="石家庄,邯郸,邢台,保定,张家口,承德,廊坊,唐山,秦皇岛,沧州,衡水";  
x[6]="太原,大同,阳泉,长治,晋城,朔州,吕梁,忻州,晋中,临汾,运城";  
x[7]="呼和浩特,包头,乌海,赤峰,呼伦贝尔盟,阿拉善盟,哲里木盟,兴安盟,乌兰察布盟,锡林郭勒盟,巴彦淖尔盟,伊克昭盟";  
x[8]="沈阳,大连,鞍山,抚顺,本溪,丹东,锦州,营口,阜新,辽阳,盘锦,铁岭,朝阳,葫芦岛";  
x[9]="长春,吉林,四平,辽源,通化,白山,松原,白城,延边";  
x[10]="哈尔滨,齐齐哈尔,牡丹江,佳木斯,大庆,绥化,鹤岗,鸡西,黑河,双鸭山,伊春,七台河,大兴安岭";  
x[11]="南京,镇江,苏州,南通,扬州,盐城,徐州,连云港,常州,无锡,宿迁,泰州,淮安";  
x[12]="杭州,宁波,温州,嘉兴,湖州,绍兴,金华,衢州,舟山,台州,丽水";  
x[13]="合肥,芜湖,蚌埠,马鞍山,淮北,铜陵,安庆,黄山,滁州,宿州,池州,淮南,巢湖,阜阳,六安,宣城,亳州";  
x[14]="福州,厦门,莆田,三明,泉州,漳州,南平,龙岩,宁德";  
x[15]="南昌市,景德镇,九江,鹰潭,萍乡,新馀,赣州,吉安,宜春,抚州,上饶";  
x[16]="济南,青岛,淄博,枣庄,东营,烟台,潍坊,济宁,泰安,威海,日照,莱芜,临沂,德州,聊城,滨州,菏泽,博兴";  
x[17]="郑州,开封,洛阳,平顶山,安阳,鹤壁,新乡,焦作,濮阳,许昌,漯河,三门峡,南阳,商丘,信阳,周口,驻马店,济源";  
x[18]="武汉,宜昌,荆州,襄樊,黄石,荆门,黄冈,十堰,恩施,潜江,天门,仙桃,随州,咸宁,孝感,鄂州";  
x[19]="长沙,常德,株洲,湘潭,衡阳,岳阳,邵阳,益阳,娄底,怀化,郴州,永州,湘西,张家界";  
x[20]="广州,深圳,珠海,汕头,东莞,中山,佛山,韶关,江门,湛江,茂名,肇庆,惠州,梅州,汕尾,河源,阳江,清远,潮州,揭阳,云浮";  
x[21]="南宁,柳州,桂林,梧州,北海,防城港,钦州,贵港,玉林,南宁地区,柳州地区,贺州,百色,河池";  
x[22]="海口,三亚";  
x[23]="成都,绵阳,德阳,自贡,攀枝花,广元,内江,乐山,南充,宜宾,广安,达川,雅安,眉山,甘孜,凉山,泸州";  
x[24]="贵阳,六盘水,遵义,安顺,铜仁,黔西南,毕节,黔东南,黔南";  
x[25]="昆明,大理,曲靖,玉溪,昭通,楚雄,红河,文山,普洱,西双版纳,保山,德宏,丽江,怒江,迪庆,临沧";  
x[26]="拉萨,日喀则,山南,林芝,昌都,阿里,那曲";  
x[27]="西安,宝鸡,咸阳,铜川,渭南,延安,榆林,汉中,安康,商洛";  
x[28]="兰州,嘉峪关,金昌,白银,天水,酒泉,张掖,武威,定西,陇南,平凉,庆阳,临夏,甘南";  
x[29]="银川,石嘴山,吴忠,固原";  
x[30]="西宁,海东,海南,海北,黄南,玉树,果洛,海西";  
x[31]="乌鲁木齐,石河子,克拉玛依,伊犁,巴音郭勒,昌吉,克孜勒苏柯尔克孜,博 尔塔拉,吐鲁番,哈密,喀什,和田,阿克苏";  
x[32]="香港";  
x[33]="澳门";  
x[34]="台北,高雄,台中,台南,屏东,南投,云林,新竹,彰化,苗栗,嘉义,花莲,桃园,宜兰,基隆,台东,金门,马祖,澎湖";  
var provinces="北京,上海,天津,重庆,河北,山西,内蒙古,辽宁,吉林,黑龙江,江苏,浙江,安徽,福建,江西,山东,河南,湖北,湖南,广东,广西,海南,四川,贵州,云南,西藏,陕西,甘肃,宁夏,青海,新疆,香港,澳门,台湾";  
var p = provinces.split(",");
    var pro = document.getElementById('pro');
    var city = document.getElementById('city');
    var province = document.getElementById('province');
    function init(){
        //省份初始化
        for(var i=0;i<p.length;i++){
            //创建option节点
            var op = document.createElement('option');
            //设置值
            if(p[i]=='{$data['province']}'){
                op.setAttribute('selected','selected');
                createCity(i);
            }
            op.value =i;
            //设置文本
            op.innerHTML = p[i];
            //将op插入省份中
            pro.appendChild(op);
        }
    }
    init();
    function createCity(th){
          //清空市的列表
        province.value=p[th];

        city.innerHTML = '';
        //获取当前省份的值
        var v = Number(th)+1;
        //获取市的列表
        var citys = x[v].split(",");
        //创建option
        for(var i=0;i<citys.length;i++){
            var op = document.createElement('option');
            op.value = citys[i];
            if(citys[i]=='{$data['city']}'){
                op.setAttribute('selected','selected');
            }
            op.innerHTML = citys[i];
            city.appendChild(op);
        }
    }
    //绑定change事件
    pro.onchange = function(){
        var num=this.value;
        createCity(num);
    }
    var arr=[true,true,true];
    $('#email').blur(function(){
        var str=$(this).val();
        var pre=/^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/;
        if(!pre.test(str)){
            $('#check_email').html('邮箱格式不对');
            arr[0]=false;
        }else{
            $.post('{:U("Admin/User/ajaxCheck")}',{email:str},function(data){
                if(data==0){
                    $('#check_email').html('邮箱可以使用');
                    $('#check_email').css('color','green');
                    arr[0]=true;
                }else{
                    arr[0]=false;
                    $('#check_email').html('邮箱已经被注册');
                }
            },'json')
        }
    });
    $('#birthDay').blur(function(){
        var str=$(this).val();
        var pre=/^19\d{6}$/;
        if(str){
            if(!pre.test(str)){
              $('#check_birth').css('color','red');
              arr[2]=false;
            }else{
              $('#check_birth').css('color','green');
              arr[2]=true;
            }
        }else{
            $('#check_birth').css('color','#bbcf25');
            arr[2]=true;
        }
    });
    $('#name').blur(function(){
        var str=$(this).val();
        if(!str){
            arr[1]=false;
        }else{
            arr[1]=true;
        }
    });
    $('form').submit(function(){
        for(var i=0;i<arr.length;i++){
            if(!arr[i]){
                $($(this).find('.mws-form-row')[i]).find('input').focus();
                $('#info').html('必要信息未填完整');
                return false;
            }
        }
    });
</script>
</block>